<h1>Project 1 Part 2

The following code was used for Part 2 of Project 1 for CS4111 Introduction to Database Systems.<br>
<b>Copyright 2020, Xilin Wang, All rights reserved.

In [32]:
import requests
import json
from random import randint
from datetime import datetime
from bs4 import BeautifulSoup

<h3>Webscraping and parsing part.

In [33]:
#use this function to get a list of place id based on query input
def get_place_id(query,api_key,radius=15):
    
    #URL Set up
    base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"
    api_url = base_url+"query="
    url = api_url+query+"&key="+api_key
    if radius:
        url+="&radius="+str(radius)
        
    #The list to be returned
    output_list = list()
    
    
    import requests
    import json
    
    response = requests.get(url) # get initial response
        
    while(True):
        data = response.json()
        # get place_id and append to list
        for place in data['results']: 
            place_id = place['place_id']
            output_list.append(place_id)
        
        # Now determine if next page exists, if doesn't exist, jump out of the loop
        try: 
            token = data['next_page_token']
        except:
            break
        
        # if exist, make a new url based on next_page_token
        newurl = base_url + 'pagetoken=' + token + '&key=' + api_key
        
        # get data from next page, if not available, wait a bit and try again
        response = requests.get(newurl) 
        while response.json().get('status') != 'OK':
            from time import sleep
            from random import random 
            sleep(random())
            response = requests.get(newurl)     
    return output_list

In [34]:
with open('/Users/xilinwang/Documents/credentials/google_place_api','r') as f:
    api_key = f.readline().strip()

In [35]:
base = "https://maps.googleapis.com/maps/api/place/details/json?place_id="

In [151]:
restaurants_query = "Japanese restaurants near Columbia University"
pid_list = get_place_id(restaurants_query,api_key,radius=1500)

In [152]:
result = list()

# loop through the pid list and get information on each restaurant 
for pid in pid_list:
    url = base+pid+"&key="+api_key
    response = requests.get(url)
    data = response.json()
    place = data['result']
    adr = place['adr_address']
    soup = BeautifulSoup(adr)
    stnum = place['address_components'][0]['short_name']
    stname = place['address_components'][1]['short_name']
    city = soup.find('span', {'class':"locality"}).get_text()
    state = soup.find('span', {'class':"region"}).get_text()
    postal = soup.find('span', {'class':"postal-code"}).get_text()
    loc = {'stnum':stnum,'stname':stname,'city':city,'state':state,'postal':postal}
    rname = place['name']
    try:
        p_lvl = place['price_level']
    except:
        p_lvl = 2 # default to 2, arbitrary
    reviews = list()
    try: 
        for review in place['reviews']:
            uid = review['author_url'][36:57]
            name = review['author_name']
            rating = review['rating'] 
            ts = review['time']
            time = datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
            detail = review['text']
            rando = str(randint(0, 9))
            urid = uid + rando
            reviews.append({'uid':uid, 'urid':urid, 'uname':name,'rating':rating, 'time':time, 'detail':detail})
    except:
        reviews = None
    try:
        website = place['website']
    except:
        website = place['url']
    menu_link = website
    mid = 1
    phone = place['formatted_phone_number']
    
    #changee this to the category used for searching
    cat = 'Japanese'
    
    #generating realistic data for the purpose of the project
    if int(phone[13])%2 == 0:
        otype =['take-out','delivery','dine-in']
    elif int(phone[13])%3 == 0:
        otype =['take-out','dine-in']
    else:
        otype =['take-out','delivery']
    
    #dietary need is also generated
    if int(phone[12])%2 == 0:
        dname = ['Vegan', 'Vegetarian']
    elif int(phone[12])%3 == 0:
        dname = ['Vegan', 'Vegetarian', 'Halal']
    else:
        dname = ['Vegetarian', 'Gluten Free']
        
    result.append({'rid':pid, 'rname':rname, 'web':website, 'phone':phone, 
                   'cat':cat, 'otype':otype, 'rev':reviews, 'dname':dname, 
                   'mid':mid, 'mlink':menu_link, 'price':p_lvl, 'loc':loc})

<h3>SQL query part

Below are codes we used to generate SQL insertion queries. We had to use this method to insert data into our PostgreSQL database since we haven't learned an automated way to do this.

In [138]:
def insert_restaurant(data):
    base_insert = 'INSERT INTO Restaurant VALUES'
    for place in data:
        value = (place['rid'],place['rname'],place['web'],place['phone'],place['cat'])
        print(base_insert, value,';')

In [153]:
insert_restaurant(result)

INSERT INTO Restaurant VALUES ('ChIJu3iXyGr2wokR29wWAqLfn8Q', 'Nikko', 'http://nikkohibachigrill.com/', '(212) 531-1188', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJUZGzuBL3wokRslOX3yc9LCk', 'Kikoo Sushi - Columbia', 'http://www.kikoowest.com/', '(212) 533-2211', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJSQm0BGr2wokRMlxPSzeSl2g', 'Jin Ramen West Harlem', 'https://125.jinramen.com/', '(646) 559-2862', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJD86ws4JYwokRz3jXJAWgGdM', 'Kouzan', 'https://qmenu.us/#/kouzan-new-york', '(212) 280-8099', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJjYXMA6r3wokRqsATKxPO-Vg', 'Yuzu Premium Sushi Restaurant', 'http://www.yuzunewyork.com/', '(646) 861-3883', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJVVUpOG_2wokRFUtuo_v80Ts', 'Sushi Sushi', 'https://www.sushisushinyc.com/', '(212) 866-7876', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJFalicmT2wokR02HksZFX9VA', 'Geisha Sushi', 'http://www.geisha3470ny.com/', '(212) 862-7800', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJYbl1lBL2wokR3Pw0NejRRvM', 'A1 Asian Fusion', 'http://www.a1asianfusion.com/', '(212) 866-3888', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJg0Bl54JYwokR8k8qF8pW-eI', 'Miyako Sushi', 'http://www.miyakosushinyc.com/', '(212) 724-5200', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJU-oKKh1ZwokR9HVy197A8mM', 'Sushi Nonaka', 'http://www.sushinonaka.com/', '(646) 454-0226', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJEY8Sdlf2wokRCnHpToa-BE0', 'Arigato', 'http://arigatonj.com/', '(201) 886-1233', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJfebAhnn3wokRvTbzHU2Scwg', 'FuXingMei Sushi House', 'https://www.fuxingmeinj.com/', '(201) 886-1398', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJgTrKAYZYwokRrLF7JiGwdNM', 'Momoya', 'http://momoyanyc.com/', '(212) 580-0007', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJ1S4Bt45YwokRrLS1-axV2_Q', 'Raku', 'https://orderrakujapanese.com/', '(212) 873-1220', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJZ5fe_Uv2wokRUEQShWZJFHI', 'Sushi Cruise', 'http://www.sushi-cruise.com/', '(201) 313-3611', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJF41lDSb2wokRoHfKgOBOG0s', 'Naruto Ramen', 'http://narutoramenex.com/', '(212) 222-0229', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJse3BjyT2wokRF2Tkb2uT5YI', 'Uncle Luoyang', 'http://www.unclely.com/', '(212) 390-8886', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJazunFWT2wokRqVgH0HhWeGQ', 'ROKC', 'http://rokcnyc.com/', '(332) 217-8755', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJyUF6iuxZwokR6gknGZ-DEWA', 'Gyu-Kaku Japanese BBQ', 'https://www.gyu-kaku.com/amsterdam/', '(646) 850-2989', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJiZfMBoZYwokRhMJwRoMM2xQ', 'Haru Sushi', 'https://harusushi.com/location/newyork-amsterdamave/', '(212) 579-5655', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJYwW6R6L3wokRQ9H1nf7nn4g', 'Dragon Sushi', 'http://www.dragonsushiny.com/', '(646) 490-5254', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJKRFZOIRYwokR_uw6rPg9wgI', 'Kitaro Sushi', 'http://www.kitarosushiny.com/', '(212) 787-9008', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJH08CYyP2wokRtebMqpU5a-4', 'Makana', 'http://www.makananyc.com/', '(212) 678-4569', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJY3CwCIT3wokReNnkV6ZC0rM', 'Amsterdam Sushi', 'http://www.nyamsterdamsushi.com/', '(646) 476-5017', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJf3PXqGP3wokR-ev9ov5e91Y', 'Hula Poke', 'http://hulapokeusa.com/', '(646) 476-6463', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJb5N7zCf2wokRE6kxhGJaJ0Y', 'Ozen Asian Fusion Cuisine', 'http://www.ozencuisine.com/', '(212) 678-0300', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJe4ujVyP2wokRC3a6Xbt-zSY', 'Suma Sushi', 'http://ordersumasushi.com/', '(212) 280-5858', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJ5fDdEoVYwokRYPEr9pcE0WQ', 'Matsu sushi', 'http://www.uwssushi.com/', '(212) 799-7922', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJc71Q34VYwokRARHW9df6Zgs', 'Jin Ramen Upper West Side', 'http://www.jinramen.com/', '(646) 657-0755', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJ5SpD7otYwokR1F-cMlCK0js', 'Tenzan Columbus Ave', 'https://maps.google.com/?cid=4310659870398111700', '(212) 580-7300', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJbwTxTAH2wokRUwXPOya3MoA', 'Sushi Lemon Life', 'https://www.sushilemonlifenyc.com/', '(212) 369-2886', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJ7cS0D4NYwokRSy7Zb5tUlOQ', 'Mido', 'http://www.midojapanese.com/', '(212) 877-0033', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJXxNP-mL2wokRStZTuUKsOao', 'Mamasushi', 'http://www.mamasushi.com/', '(646) 682-7879', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJRf0k0Y5YwokR7hh2IBTl3LY', 'Gari Columbus', 'https://www.sushiofgari.com/restaurants/columbus/', '(212) 362-4816', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJQyEs-WFYwokRxcMQc54r9W0', 'Sushi Yasaka', 'http://www.yasaka.nyc/', '(212) 496-8460', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJS9-cg4VYwokRL7S120Rkbjo', 'Flame', 'https://flamenyc.com/', '(646) 870-0301', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJ5XS2IGr2wokRdTbYbSSBcwU', 'Go! Go! Curry Harlem', 'http://www.gogocurryamerica.com/', '(646) 833-7143', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJqdmU34pYwokR8IaCbL9rb4M', 'Amber', 'http://www.amber103.com/', '(212) 799-8100', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJt3rLE3P2wokRApaaB2gVTOM', 'Sushi Inoue', 'http://www.sushiinoueharlem.com/', '(646) 766-0555', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJizsMQxX2wokRSD5_pzmhaYg', 'Massawa', 'https://www.massawanyc.com/', '(212) 663-0505', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJJaCHP1f2wokRKhGwZwoJlvg', 'Sushi To Go Express', 'https://maps.google.com/?cid=17912514508206641450', '(201) 886-8833', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJcRgR0W72wokRfT2l0W4NVIs', 'Rai Rai Ken', 'http://rairaiken-ny.com/', '(917) 639-3342', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJxUfPdp33wokRZJ9SiUhf0j0', 'Moonrise Izakaya', 'http://www.moonriseizakaya.com/', '(646) 541-2506', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJu25Iu7tYwokRS9eaSuLSwxE', 'Poke', 'http://pokerestaurant.nyc/', '(212) 249-0569', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJM3HWz3z2wokR0ktkaSf5gSw', 'Chopped Parsley', 'https://m.facebook.com/choppedparsley146/', '(917) 675-6666', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJT4-zRP9ZwokRph9ydWRuqTU', 'TAKEDA', 'https://www.takedanyc.com/', '(646) 370-6965', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJTf4rvaP3wokRiemnWh1PHI0', 'Yakitori Sun-Chan', 'https://maps.google.com/?cid=10168089046189336969', '(212) 749-5008', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJT4-Zcwv2wokRH7wV0JwDc4I', "Charlie's Place", 'http://charliesplaceofsushi.com/', '(212) 410-0277', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJXcOZ2VD2wokROENedT4harY', 'Teri Teri Edgewater Restaurant', 'http://www.teriterigo.com/edgewater/', '(201) 224-3409', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJj35dz8xZwokR8d8a6Fnx3vQ', 'Kissaki Sushi', 'http://www.explorekissaki.com/', '(212) 577-1151', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJgbZ3_0r2wokRRpVKcTVcVD0', 'Tokyo Hanten', 'https://maps.google.com/?cid=4419258518961034566', '(973) 617-1853', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJ9w07X5RYwokR5eolQAZ49C4', 'Kappo Masa', 'http://www.kappomasanyc.com/', '(212) 906-7141', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJZQxmmktZwokRN5ADkQ93RnY', 'Sushi Ishikawa Upper West Side', 'https://www.ishikawanyc.com/', '(212) 651-9152', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJg7-TU1D2wokRQUJkH_H3hnw', 'Genji Sushi', 'http://www.wholefoodsmarket.com/stores/edgewater', '(201) 941-4000', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJ82yIyIJYwokRmr2Jrd_XykA', 'Simply Sushi', 'http://simplysushi.com/', '(212) 222-6332', 'Japanese') ;
INSERT INTO Restaurant VALUES ('ChIJOcsGVkr2wokRLmfHmhItPp0', 'Mitsuwa Marketplace - New Jersey', 'https://mitsuwa.com/nj', '(201) 941-9113', 'Japanese') ;

In [82]:
def insert_users(data):
    base_insert = 'INSERT INTO Users VALUES'
    for place in data:
        rev = place['rev']
        if rev == None:
            continue
        else:
            for review in rev:
                uid = review['uid']
                name = review['uname']
                value = (uid,name)
                print(base_insert,value,';')

In [154]:
insert_users(result)

INSERT INTO Users VALUES ('107325724009413713612', 'Sonny Decker') ;
INSERT INTO Users VALUES ('111130985700064660030', 'AL “L.A” Salcedo') ;
INSERT INTO Users VALUES ('111676253614334282381', 'Gordon Crane') ;
INSERT INTO Users VALUES ('116127320157848663247', 'Henry Gao') ;
INSERT INTO Users VALUES ('100611160727382240523', 'Xavier Savage') ;
INSERT INTO Users VALUES ('113940049200647362048', 'Donald J Barnes') ;
INSERT INTO Users VALUES ('113350429450063061606', 'Mark Hollinger') ;
INSERT INTO Users VALUES ('118202851192349639887', 'Kadiatou Kamara') ;
INSERT INTO Users VALUES ('108045925603217899608', 'Abdelazim Wahdan') ;
INSERT INTO Users VALUES ('111594382664159330327', 'B3D Music') ;
INSERT INTO Users VALUES ('100956114396258860220', 'Lipika Halder') ;
INSERT INTO Users VALUES ('114415284558194219537', 'Liz Carcagno') ;
INSERT INTO Users VALUES ('100159621215660693526', 'Arjun Soto') ;
INSERT INTO Users VALUES ('108720298012115524138', 'Finnley Houston') ;
INSERT INTO Users VALUES ('102193602778064004299', 'W Andersen') ;
INSERT INTO Users VALUES ('110316710542055824455', 'Samuel Klein') ;
INSERT INTO Users VALUES ('100724510814613837975', 'Melissa Griffith') ;
INSERT INTO Users VALUES ('102854276933533792136', 'Charles Jan') ;
INSERT INTO Users VALUES ('110199820531114654275', 'Yaniv L') ;
INSERT INTO Users VALUES ('110454645133071074535', 'Pumpkincat The Orange') ;
INSERT INTO Users VALUES ('109543813764775009408', 'Nadia Mehenni') ;
INSERT INTO Users VALUES ('111088452330769280255', 'Mariah E.G Cameron') ;
INSERT INTO Users VALUES ('114121998871107088426', 'Nicki Alexander') ;
INSERT INTO Users VALUES ('118193037536942680649', 'Olivia Brisbane') ;
INSERT INTO Users VALUES ('117186645685877459141', 'Kylan E') ;
INSERT INTO Users VALUES ('109999658764328854449', 'Angel Gomez') ;
INSERT INTO Users VALUES ('102436150384577256655', 'Abril Rodriguez') ;
INSERT INTO Users VALUES ('112693605115832152742', 'Carolina Almonte') ;
INSERT INTO Users VALUES ('106125395470436114755', 'A Seab') ;
INSERT INTO Users VALUES ('110265951502490014637', 'Sophia Castro') ;
INSERT INTO Users VALUES ('103998810428008299056', 'Brianna Kanin') ;
INSERT INTO Users VALUES ('106307021902158047692', 'David Wilson') ;
INSERT INTO Users VALUES ('114088517802532558248', 'Carlitos Familia') ;
INSERT INTO Users VALUES ('110206262457831331654', 'Kyle Hansen') ;
INSERT INTO Users VALUES ('102742584119419523240', 'Evan’s True Reviews') ;
INSERT INTO Users VALUES ('114664528736679673282', 'Otto Lewis') ;
INSERT INTO Users VALUES ('106029287098610052983', 'Julie Reid') ;
INSERT INTO Users VALUES ('116389105619042923873', 'Lauren Roberts') ;
INSERT INTO Users VALUES ('102740711352241436671', 'Robyn Curry') ;
INSERT INTO Users VALUES ('104052476821685482928', 'Leeto Lust') ;
INSERT INTO Users VALUES ('104419240281718418611', 'Lonnie Cooper') ;
INSERT INTO Users VALUES ('101010528801498758036', 'Staci Myer-Klein') ;
INSERT INTO Users VALUES ('107764575974011986379', 'Mark Aaron James') ;
INSERT INTO Users VALUES ('107253600084726377695', 'Naomi Hadarik') ;
INSERT INTO Users VALUES ('101821810199953231580', 'Wendy Chan') ;
INSERT INTO Users VALUES ('111149072084595016553', 'Ashley Sanders') ;
INSERT INTO Users VALUES ('110011526850091752364', 'Alden Harting') ;
INSERT INTO Users VALUES ('109480198304708049617', 'perfect stranger') ;
INSERT INTO Users VALUES ('100618685858988957851', 'Hee sun Hwang') ;
INSERT INTO Users VALUES ('102750115248974010937', 'Maria Koshkina') ;
INSERT INTO Users VALUES ('105307442919984710547', 'mei zhang') ;
INSERT INTO Users VALUES ('112444929142374414636', 'Anthony Da Silva') ;
INSERT INTO Users VALUES ('110764565666615149671', 'Jesenia Gz') ;
INSERT INTO Users VALUES ('113332724134607604527', 'Vanessa Martinez') ;
INSERT INTO Users VALUES ('111992519766953265862', 'Brian Rivieccio') ;
INSERT INTO Users VALUES ('111449886282449253422', 'Yollanda Moreira Franco') ;
INSERT INTO Users VALUES ('108277546340866889836', 'Doaa Abdelaziz') ;
INSERT INTO Users VALUES ('107007678041786757393', 'george B') ;
INSERT INTO Users VALUES ('113448693822536592573', 'Nanette Romano') ;
INSERT INTO Users VALUES ('115772837933739773086', 'Anthony Pincay') ;
INSERT INTO Users VALUES ('105439543760201948011', 'Kathy T') ;
INSERT INTO Users VALUES ('109515963266625361186', 'Leroy Pratt') ;
INSERT INTO Users VALUES ('112083543328981387752', 'Oni Hackle') ;
INSERT INTO Users VALUES ('100156181118771098213', 'Tatiana Panova') ;
INSERT INTO Users VALUES ('112438880541574433185', 'nicole park') ;
INSERT INTO Users VALUES ('112136239492167708947', 'Ashley Howard') ;
INSERT INTO Users VALUES ('113103590660334914032', 'Hugo Sparks') ;
INSERT INTO Users VALUES ('111745099843183653081', 'Jason Benoit') ;
INSERT INTO Users VALUES ('106712581717403918653', 'Elion Lita') ;
INSERT INTO Users VALUES ('107271597906648016903', 'Elizabeth Eusebio') ;
INSERT INTO Users VALUES ('106345273355765683869', 'maria Gentile') ;
INSERT INTO Users VALUES ('104411464802762951071', 'Lucia Matarazzo') ;
INSERT INTO Users VALUES ('118158096446533494905', 'Jim Lyons') ;
INSERT INTO Users VALUES ('114011783930477055031', 'Charlotte Kaya') ;
INSERT INTO Users VALUES ('106058663502196946846', 'Alma Villalba') ;
INSERT INTO Users VALUES ('102962970014590628062', 'Carl Martinez') ;
INSERT INTO Users VALUES ('117263489108230980387', 'Declan Ellison') ;
INSERT INTO Users VALUES ('113017204267740853242', 'Jamison Hicks') ;
INSERT INTO Users VALUES ('113067454221934479216', 'Guillermo Bell') ;
INSERT INTO Users VALUES ('102209301053846990954', 'cfoqt s') ;
INSERT INTO Users VALUES ('107924670862064481707', 'Jaiden Hicks') ;
INSERT INTO Users VALUES ('109982455105251370364', 'Mi M') ;
INSERT INTO Users VALUES ('109955778804787178042', 'Seamus Connolly') ;
INSERT INTO Users VALUES ('107976137275301941668', 'Jeff Lampiasi') ;
INSERT INTO Users VALUES ('102850787804371065136', 'Allyxon Ordonez') ;
INSERT INTO Users VALUES ('114830466870540738561', 'Melanie Peralta') ;
INSERT INTO Users VALUES ('117690905211480993061', 'Sarah Slobin') ;
INSERT INTO Users VALUES ('113371129037502952598', 'Emmanuel Antigua') ;
INSERT INTO Users VALUES ('114076142112755361766', 'Keona Kalu') ;
INSERT INTO Users VALUES ('113080921853556597494', 'Elena Cespedes') ;
INSERT INTO Users VALUES ('117839249973367077635', 'Vance Proctor') ;
INSERT INTO Users VALUES ('117922145050259214577', 'LP J') ;
INSERT INTO Users VALUES ('100973682706581216060', 'Stuart Gibbel') ;
INSERT INTO Users VALUES ('112381364770120127494', 'Robert Johnston') ;
INSERT INTO Users VALUES ('102853473845727012860', 'TheNated0') ;
INSERT INTO Users VALUES ('118251924874916025692', 'Golam Bhuiyan') ;
INSERT INTO Users VALUES ('101774981876160023391', 'Justin Curry') ;
INSERT INTO Users VALUES ('115748533447549087185', 'Stacey Miller') ;
INSERT INTO Users VALUES ('108026719134516212068', 'Jayden Jacob') ;
INSERT INTO Users VALUES ('114465253811955990231', 'Didi Junaedi') ;
INSERT INTO Users VALUES ('107216427992989951130', 'Lee Silverman') ;
INSERT INTO Users VALUES ('105169776266909404704', 'Stephanie Clark') ;
INSERT INTO Users VALUES ('109917425013962641412', 'Christina C') ;
INSERT INTO Users VALUES ('101589843000577759430', 'Kasey Lynn') ;
INSERT INTO Users VALUES ('102284012811602120301', 'just me') ;
INSERT INTO Users VALUES ('102569297238269800055', 'Margo ClementsG') ;
INSERT INTO Users VALUES ('109388601355254709852', 'Peter D') ;
INSERT INTO Users VALUES ('101425525692146625215', 'Micah Huffman') ;
INSERT INTO Users VALUES ('109606921277513838780', 'Dequita Tate') ;
INSERT INTO Users VALUES ('109764135434148803955', 'Joji Bronner') ;
INSERT INTO Users VALUES ('110811743141543877775', 'Edwin Cruz') ;
INSERT INTO Users VALUES ('105354527338012902781', 'Cody Dulock') ;
INSERT INTO Users VALUES ('105278782987096804550', 'Ari Jiang') ;
INSERT INTO Users VALUES ('117979675532285143240', 'Vanessa Melendez') ;
INSERT INTO Users VALUES ('113461882295729150904', 'Mattew Evans') ;
INSERT INTO Users VALUES ('111202057002510526189', 'Carla Wilkins') ;
INSERT INTO Users VALUES ('103911707463118984898', 'Jesus Mena') ;
INSERT INTO Users VALUES ('107525441089872787690', 'Biannca Singleton') ;
INSERT INTO Users VALUES ('107684182667352362973', 'Ladi Lockmore') ;
INSERT INTO Users VALUES ('100839463194343006009', 'Ed B.') ;
INSERT INTO Users VALUES ('105278782987096804550', 'Ari Jiang') ;
INSERT INTO Users VALUES ('108772334324319102953', 'Candra Belz') ;
INSERT INTO Users VALUES ('103932856970351025011', 'Leni Stn') ;
INSERT INTO Users VALUES ('105495575850055491115', 'Kei Agajani') ;
INSERT INTO Users VALUES ('103050196503797432835', 'Andrea') ;
INSERT INTO Users VALUES ('112604925480550662990', 'steve eichblatt') ;
INSERT INTO Users VALUES ('107924670862064481707', 'Jaiden Hicks') ;
INSERT INTO Users VALUES ('116274128165611415439', 'peter james') ;
INSERT INTO Users VALUES ('110051252957510644341', 'Leomary Rodriguez') ;
INSERT INTO Users VALUES ('114860343642466822871', 'Niasia Vance') ;
INSERT INTO Users VALUES ('108889557526258834822', 'George Frank') ;
INSERT INTO Users VALUES ('108038797500432854280', 'James Massenburg') ;
INSERT INTO Users VALUES ('112886024166729435828', 'Reyansh Rush') ;
INSERT INTO Users VALUES ('109441190083299895203', 'Jeremy Katz') ;
INSERT INTO Users VALUES ('107783602376060806224', 'Tharuedee T.') ;
INSERT INTO Users VALUES ('108267106784655024803', 'Dan Davidson') ;
INSERT INTO Users VALUES ('102303759704012607614', 'Derrick Fox') ;
INSERT INTO Users VALUES ('114825386195730121156', 'Namecha Kohn') ;
INSERT INTO Users VALUES ('109896653290294744674', 'Francisca Beltran') ;
INSERT INTO Users VALUES ('100718122715096442471', 'Pouliotte Franck') ;
INSERT INTO Users VALUES ('104512676786621217125', 'Lacey Smith') ;
INSERT INTO Users VALUES ('111649775342102021103', 'Keyra Fernandez') ;
INSERT INTO Users VALUES ('116956124775861684005', 'Jaci Berkopec') ;
INSERT INTO Users VALUES ('111164038393504951374', 'Hugo Sheppard') ;
INSERT INTO Users VALUES ('101552674931260394106', 'Voravong Nachampassak') ;
INSERT INTO Users VALUES ('118061735045034905969', 'Yulia Sokolova') ;
INSERT INTO Users VALUES ('101125813029908197902', 'Christopher McBride') ;
INSERT INTO Users VALUES ('117611584034196247963', 'Katherine Lam') ;
INSERT INTO Users VALUES ('117550572895081332968', 'Theresa Quadrozzi') ;
INSERT INTO Users VALUES ('113729591072657818744', 'MEGA_ nem') ;
INSERT INTO Users VALUES ('105477024185229932269', 'Mr Nobody') ;
INSERT INTO Users VALUES ('113894679129252087507', 'G Ortega') ;
INSERT INTO Users VALUES ('110567469761289655414', 'Anthony Rivera') ;
INSERT INTO Users VALUES ('116492491592152882805', 'LIRVAVRIL') ;
INSERT INTO Users VALUES ('101859215265048141515', 'E Perkins') ;
INSERT INTO Users VALUES ('105753212172041253648', 'Alex Brandt') ;
INSERT INTO Users VALUES ('108549124659935650862', 'Lynn Biondi') ;
INSERT INTO Users VALUES ('105278782987096804550', 'Ari Jiang') ;
INSERT INTO Users VALUES ('114743330592145270982', 'Christian Reyes') ;
INSERT INTO Users VALUES ('117876473590201804081', 'Lena Halabi') ;
INSERT INTO Users VALUES ('117251535372269415509', 'Dee B') ;
INSERT INTO Users VALUES ('116342621270092367872', 'Elizabeth Cotto') ;
INSERT INTO Users VALUES ('108510965413035590346', 'Jen H') ;
INSERT INTO Users VALUES ('113432493663285202477', 'shavonda yuonne') ;
INSERT INTO Users VALUES ('116736218416718795539', 'Winston Joseph III') ;
INSERT INTO Users VALUES ('104783152709229148744', 'Kendra Rodriguez') ;
INSERT INTO Users VALUES ('102125938556547550601', 'Sylvester Turnbull') ;
INSERT INTO Users VALUES ('101425746279259426617', 'Dylan Tyler') ;
INSERT INTO Users VALUES ('100591173566682651277', 'Stephen Pile') ;
INSERT INTO Users VALUES ('100979209091284607043', 'Susan Jan') ;
INSERT INTO Users VALUES ('110704620397563729266', 'Phil Probert') ;
INSERT INTO Users VALUES ('113925979010755045233', 'Mona Younas') ;
INSERT INTO Users VALUES ('108147270510113647072', 'Josh Zignego') ;
INSERT INTO Users VALUES ('115815119397200034949', 'Christopher S. C') ;
INSERT INTO Users VALUES ('116786994258687631618', 'Ian Coogan') ;
INSERT INTO Users VALUES ('116343471926981995485', 'Manjula Nair') ;
INSERT INTO Users VALUES ('105542902256122026395', 'Being Reasonable') ;
INSERT INTO Users VALUES ('111176025262071899979', 'Lloyd Decker') ;
INSERT INTO Users VALUES ('115770710531579619442', 'Guglielmo Didelot') ;
INSERT INTO Users VALUES ('105109333862841153578', 'Chris Reid') ;
INSERT INTO Users VALUES ('113473940572525194456', 'Andrew Jogeeah') ;
INSERT INTO Users VALUES ('111465313746509260056', 'Min Yi Tan') ;
INSERT INTO Users VALUES ('116607437407590397286', 'Abraham Prado') ;
INSERT INTO Users VALUES ('105159781016816612059', 'Odalis Flete') ;
INSERT INTO Users VALUES ('105374478427447598206', 'Gokul Kalla') ;
INSERT INTO Users VALUES ('116301489191490963420', 'Prather Renea') ;
INSERT INTO Users VALUES ('111483564916078492645', 'Donny Miellano') ;
INSERT INTO Users VALUES ('115240108522449799518', 'Lawrence Foster') ;
INSERT INTO Users VALUES ('104815701262800828952', 'Harvey Smiley') ;
INSERT INTO Users VALUES ('112480537728467394285', 'Chala Deshner') ;
INSERT INTO Users VALUES ('107325724009413713612', 'Sonny Decker') ;
INSERT INTO Users VALUES ('113992851545243750526', 'Franky Kolos') ;
INSERT INTO Users VALUES ('113135503443417152812', 'Derek Frye') ;
INSERT INTO Users VALUES ('103233510123328794935', 'T Charles') ;
INSERT INTO Users VALUES ('115603715038761573990', 'Rachel A. Adler') ;
INSERT INTO Users VALUES ('110939514398102265752', 'Chanel Grullon') ;
INSERT INTO Users VALUES ('109686250810662600175', 'Jocardo Ralston') ;
INSERT INTO Users VALUES ('110600859318842453971', 'Ramon Williams') ;
INSERT INTO Users VALUES ('115263967087614864765', 'Maureen Fenninger') ;
INSERT INTO Users VALUES ('116226690808536587691', 'dresden') ;
INSERT INTO Users VALUES ('106467239691652819723', 'Mark Schwartz') ;
INSERT INTO Users VALUES ('104672427825074891272', 'Shakeyla Whitaker') ;
INSERT INTO Users VALUES ('117805180104223887313', 'Eleonora') ;
INSERT INTO Users VALUES ('116010403759045642051', 'Ervin M Ventura') ;
INSERT INTO Users VALUES ('104281418461716688382', 'LIV LIV') ;
INSERT INTO Users VALUES ('110680494520096453241', 'Bryan Kuntz') ;
INSERT INTO Users VALUES ('111699787284549446459', 'Uriel Steele') ;
INSERT INTO Users VALUES ('108950528379145570954', 'Hayden Oneal') ;
INSERT INTO Users VALUES ('112469736020711473702', 'Hector Delvas') ;
INSERT INTO Users VALUES ('101844880689406898897', 'Nona Bloom') ;
INSERT INTO Users VALUES ('111321992627027109915', 'Stefano Cataldi') ;
INSERT INTO Users VALUES ('102923511752634796402', 'Carlos Villavieja') ;
INSERT INTO Users VALUES ('118069915990270330587', 'Katia Shraga') ;
INSERT INTO Users VALUES ('112019639361750146084', 'Evan Tarrh') ;
INSERT INTO Users VALUES ('107542443173392886540', 'Al Cohen') ;
INSERT INTO Users VALUES ('116147181057329990946', 'emily hsu') ;
INSERT INTO Users VALUES ('100776989875161188754', 'elahe shafiee') ;
INSERT INTO Users VALUES ('116905865247146264283', 'Max Fallows') ;
INSERT INTO Users VALUES ('111037336003334369999', 'Alex Haas') ;
INSERT INTO Users VALUES ('115984658651908881855', 'Devon Ott-Barilli') ;
INSERT INTO Users VALUES ('105403677172523590077', 'Emilio Oneal') ;
INSERT INTO Users VALUES ('106678093367363931376', 'Bentlee Valdez') ;
INSERT INTO Users VALUES ('105775184684797892377', 'Bryan Nguyen') ;
INSERT INTO Users VALUES ('117416499062727546315', 'Joe Qualey') ;
INSERT INTO Users VALUES ('100598073451321826037', 'Amanda Savinon') ;
INSERT INTO Users VALUES ('115702721575865816849', 'Yu') ;
INSERT INTO Users VALUES ('106033161491261617621', 'hone umano') ;
INSERT INTO Users VALUES ('115945104727089798414', 'Yukie okuno') ;
INSERT INTO Users VALUES ('115872829535619335814', 'Sabrina Cierra Robinson') ;
INSERT INTO Users VALUES ('111657828924237863784', 'Mark Permann') ;
INSERT INTO Users VALUES ('103158122815030191795', 'Ani Lindblad') ;
INSERT INTO Users VALUES ('102616328252301785509', 'Christine Braunstein') ;
INSERT INTO Users VALUES ('105495575850055491115', 'Kei Agajani') ;
INSERT INTO Users VALUES ('105278782987096804550', 'Ari Jiang') ;
INSERT INTO Users VALUES ('108536618240205708648', 'Philippe') ;
INSERT INTO Users VALUES ('114581288273126816827', 'Maricruz Almazo') ;
INSERT INTO Users VALUES ('103578762854468201377', 'Tashiku Brock') ;
INSERT INTO Users VALUES ('101887430198938130858', 'Alpa Pandya') ;
INSERT INTO Users VALUES ('108381804995801356205', 'Christian C') ;
INSERT INTO Users VALUES ('100429328641444850699', 'Rashid Rozier') ;
INSERT INTO Users VALUES ('102651086251890353981', 'Brian Tillman') ;
INSERT INTO Users VALUES ('118001344239903990481', 'Jessica Chicas') ;
INSERT INTO Users VALUES ('117599464313936862924', 'Terry Garcia') ;
INSERT INTO Users VALUES ('115989939290859917367', 'Elvis F. Puebla') ;
INSERT INTO Users VALUES ('107346411856760245541', 'Zaid M') ;
INSERT INTO Users VALUES ('118297547540658618836', 'Margaret Newton') ;
INSERT INTO Users VALUES ('114394213876272574046', 'Artur Newby') ;
INSERT INTO Users VALUES ('107800206119976034620', 'Julia Pollan') ;
INSERT INTO Users VALUES ('116841681841312387085', 'Fran Bottoms') ;
INSERT INTO Users VALUES ('100765858083008225741', 'Seth G') ;
INSERT INTO Users VALUES ('114033159142891647908', 'Char Aznable') ;
INSERT INTO Users VALUES ('100167629962001280976', 'Avery Raymond') ;
INSERT INTO Users VALUES ('106181406102664292981', 'Richard Tian') ;
INSERT INTO Users VALUES ('115585757410426558856', 'Eli R') ;
INSERT INTO Users VALUES ('101729448254364603685', 'Paul Younan') ;
INSERT INTO Users VALUES ('101040037577552945759', 'Pat B') ;
INSERT INTO Users VALUES ('102597390816821436354', 'Leo Fiszel') ;
INSERT INTO Users VALUES ('113279881371816742618', 'Marina Poplavskaya Guedouar') ;
INSERT INTO Users VALUES ('114925379434188237342', 'M G') ;
INSERT INTO Users VALUES ('104230956364354780966', 'Rachel Leifer') ;
INSERT INTO Users VALUES ('115115346440092636350', 'Lawrence Paul') ;
INSERT INTO Users VALUES ('117091511596222515257', 'Paul Greenberg') ;
INSERT INTO Users VALUES ('115937456809388504635', 'Barbara Piermont') ;
INSERT INTO Users VALUES ('109272483799490518786', 'Barbara Piermont') ;
INSERT INTO Users VALUES ('115455512429169121918', 'koopsicle') ;
INSERT INTO Users VALUES ('107687436286370789115', 'John James') ;
INSERT INTO Users VALUES ('108623267874875051785', 'Kendall Garza') ;
INSERT INTO Users VALUES ('117736263779030124484', 'Steven Everett') ;
INSERT INTO Users VALUES ('115853476487043621791', 'Ayden Waller') ;
INSERT INTO Users VALUES ('103516814043551794933', 'Hilary won') ;
INSERT INTO Users VALUES ('109364162183560004221', 'Gannon Bruce') ;
INSERT INTO Users VALUES ('103389545224044210433', 'S U') ;
INSERT INTO Users VALUES ('101755247327052351462', 'Adam Buchoff') ;
INSERT INTO Users VALUES ('100613308043868967090', 'jack ost') ;
INSERT INTO Users VALUES ('111893285925965271722', 'vanessa perez') ;
INSERT INTO Users VALUES ('106811322195602432967', 'John Villanueva') ;
INSERT INTO Users VALUES ('117918418721057537824', 'Richard Li') ;
INSERT INTO Users VALUES ('100823906009075109780', 'Mark Rafael Capiral') ;
INSERT INTO Users VALUES ('101663886984545996219', 'Krish K') ;
INSERT INTO Users VALUES ('112745066898800951039', 'Chi Cheung') ;

In [42]:
def insert_has(data):
    base_insert = 'INSERT INTO Has VALUES'
    for place in data:
        rev = place['rev']
        if rev == None:
            continue
        else:
            for review in rev:
                uid = review['uid']
                if int(uid[17])%5 == 0:
                    need = ['Vegetarian']
                elif int(uid[17]) == 7:
                    need = ['Vegan','Gluten Free']
                elif int(uid[17]) == 3:
                    need = ['Halal','Vegan']
                else:
                    need = None
                
                if need == None:
                    continue
                else:
                    for dn in need:
                        value = (uid, dn)
                        print(base_insert,value,';')

In [155]:
insert_has(result)

INSERT INTO Has VALUES ('107325724009413713612', 'Halal') ;
INSERT INTO Has VALUES ('107325724009413713612', 'Vegan') ;
INSERT INTO Has VALUES ('111130985700064660030', 'Vegetarian') ;
INSERT INTO Has VALUES ('116127320157848663247', 'Halal') ;
INSERT INTO Has VALUES ('116127320157848663247', 'Vegan') ;
INSERT INTO Has VALUES ('100611160727382240523', 'Vegetarian') ;
INSERT INTO Has VALUES ('111594382664159330327', 'Vegetarian') ;
INSERT INTO Has VALUES ('100956114396258860220', 'Vegetarian') ;
INSERT INTO Has VALUES ('100159621215660693526', 'Halal') ;
INSERT INTO Has VALUES ('100159621215660693526', 'Vegan') ;
INSERT INTO Has VALUES ('100724510814613837975', 'Vegan') ;
INSERT INTO Has VALUES ('100724510814613837975', 'Gluten Free') ;
INSERT INTO Has VALUES ('111088452330769280255', 'Vegetarian') ;
INSERT INTO Has VALUES ('118193037536942680649', 'Vegetarian') ;
INSERT INTO Has VALUES ('106307021902158047692', 'Vegan') ;
INSERT INTO Has VALUES ('106307021902158047692', 'Gluten Free') ;
INSERT INTO Has VALUES ('102742584119419523240', 'Halal') ;
INSERT INTO Has VALUES ('102742584119419523240', 'Vegan') ;
INSERT INTO Has VALUES ('114664528736679673282', 'Halal') ;
INSERT INTO Has VALUES ('114664528736679673282', 'Vegan') ;
INSERT INTO Has VALUES ('116389105619042923873', 'Halal') ;
INSERT INTO Has VALUES ('116389105619042923873', 'Vegan') ;
INSERT INTO Has VALUES ('107253600084726377695', 'Vegan') ;
INSERT INTO Has VALUES ('107253600084726377695', 'Gluten Free') ;
INSERT INTO Has VALUES ('100618685858988957851', 'Vegan') ;
INSERT INTO Has VALUES ('100618685858988957851', 'Gluten Free') ;
INSERT INTO Has VALUES ('102750115248974010937', 'Vegetarian') ;
INSERT INTO Has VALUES ('105307442919984710547', 'Vegetarian') ;
INSERT INTO Has VALUES ('111992519766953265862', 'Vegetarian') ;
INSERT INTO Has VALUES ('111449886282449253422', 'Halal') ;
INSERT INTO Has VALUES ('111449886282449253422', 'Vegan') ;
INSERT INTO Has VALUES ('107007678041786757393', 'Vegan') ;
INSERT INTO Has VALUES ('107007678041786757393', 'Gluten Free') ;
INSERT INTO Has VALUES ('115772837933739773086', 'Halal') ;
INSERT INTO Has VALUES ('115772837933739773086', 'Vegan') ;
INSERT INTO Has VALUES ('112083543328981387752', 'Vegan') ;
INSERT INTO Has VALUES ('112083543328981387752', 'Gluten Free') ;
INSERT INTO Has VALUES ('112438880541574433185', 'Halal') ;
INSERT INTO Has VALUES ('112438880541574433185', 'Vegan') ;
INSERT INTO Has VALUES ('111745099843183653081', 'Halal') ;
INSERT INTO Has VALUES ('111745099843183653081', 'Vegan') ;
INSERT INTO Has VALUES ('106345273355765683869', 'Halal') ;
INSERT INTO Has VALUES ('106345273355765683869', 'Vegan') ;
INSERT INTO Has VALUES ('114011783930477055031', 'Vegetarian') ;
INSERT INTO Has VALUES ('117263489108230980387', 'Vegetarian') ;
INSERT INTO Has VALUES ('113017204267740853242', 'Halal') ;
INSERT INTO Has VALUES ('113017204267740853242', 'Vegan') ;
INSERT INTO Has VALUES ('102209301053846990954', 'Vegetarian') ;
INSERT INTO Has VALUES ('109982455105251370364', 'Vegetarian') ;
INSERT INTO Has VALUES ('102850787804371065136', 'Vegetarian') ;
INSERT INTO Has VALUES ('117690905211480993061', 'Halal') ;
INSERT INTO Has VALUES ('117690905211480993061', 'Vegan') ;
INSERT INTO Has VALUES ('113080921853556597494', 'Vegan') ;
INSERT INTO Has VALUES ('113080921853556597494', 'Gluten Free') ;
INSERT INTO Has VALUES ('117839249973367077635', 'Vegan') ;
INSERT INTO Has VALUES ('117839249973367077635', 'Gluten Free') ;
INSERT INTO Has VALUES ('112381364770120127494', 'Vegan') ;
INSERT INTO Has VALUES ('112381364770120127494', 'Gluten Free') ;
INSERT INTO Has VALUES ('118251924874916025692', 'Vegetarian') ;
INSERT INTO Has VALUES ('101774981876160023391', 'Halal') ;
INSERT INTO Has VALUES ('101774981876160023391', 'Vegan') ;
INSERT INTO Has VALUES ('115748533447549087185', 'Vegan') ;
INSERT INTO Has VALUES ('115748533447549087185', 'Gluten Free') ;
INSERT INTO Has VALUES ('114465253811955990231', 'Vegetarian') ;
INSERT INTO Has VALUES ('102284012811602120301', 'Vegetarian') ;
INSERT INTO Has VALUES ('102569297238269800055', 'Vegetarian') ;
INSERT INTO Has VALUES ('101425525692146625215', 'Vegetarian') ;
INSERT INTO Has VALUES ('109764135434148803955', 'Halal') ;
INSERT INTO Has VALUES ('109764135434148803955', 'Vegan') ;
INSERT INTO Has VALUES ('110811743141543877775', 'Vegan') ;
INSERT INTO Has VALUES ('110811743141543877775', 'Gluten Free') ;
INSERT INTO Has VALUES ('117979675532285143240', 'Halal') ;
INSERT INTO Has VALUES ('117979675532285143240', 'Vegan') ;
INSERT INTO Has VALUES ('113461882295729150904', 'Vegetarian') ;
INSERT INTO Has VALUES ('107525441089872787690', 'Vegan') ;
INSERT INTO Has VALUES ('107525441089872787690', 'Gluten Free') ;
INSERT INTO Has VALUES ('103932856970351025011', 'Vegetarian') ;
INSERT INTO Has VALUES ('116274128165611415439', 'Vegetarian') ;
INSERT INTO Has VALUES ('112886024166729435828', 'Vegetarian') ;
INSERT INTO Has VALUES ('109441190083299895203', 'Vegetarian') ;
INSERT INTO Has VALUES ('102303759704012607614', 'Vegan') ;
INSERT INTO Has VALUES ('102303759704012607614', 'Gluten Free') ;
INSERT INTO Has VALUES ('104512676786621217125', 'Vegan') ;
INSERT INTO Has VALUES ('104512676786621217125', 'Gluten Free') ;
INSERT INTO Has VALUES ('118061735045034905969', 'Vegetarian') ;
INSERT INTO Has VALUES ('101125813029908197902', 'Vegan') ;
INSERT INTO Has VALUES ('101125813029908197902', 'Gluten Free') ;
INSERT INTO Has VALUES ('117611584034196247963', 'Vegan') ;
INSERT INTO Has VALUES ('117611584034196247963', 'Gluten Free') ;
INSERT INTO Has VALUES ('113894679129252087507', 'Vegan') ;
INSERT INTO Has VALUES ('113894679129252087507', 'Gluten Free') ;
INSERT INTO Has VALUES ('110567469761289655414', 'Vegetarian') ;
INSERT INTO Has VALUES ('105753212172041253648', 'Halal') ;
INSERT INTO Has VALUES ('105753212172041253648', 'Vegan') ;
INSERT INTO Has VALUES ('108549124659935650862', 'Vegetarian') ;
INSERT INTO Has VALUES ('114743330592145270982', 'Vegetarian') ;
INSERT INTO Has VALUES ('117251535372269415509', 'Vegetarian') ;
INSERT INTO Has VALUES ('116342621270092367872', 'Vegan') ;
INSERT INTO Has VALUES ('116342621270092367872', 'Gluten Free') ;
INSERT INTO Has VALUES ('108510965413035590346', 'Vegetarian') ;
INSERT INTO Has VALUES ('116736218416718795539', 'Vegetarian') ;
INSERT INTO Has VALUES ('102125938556547550601', 'Vegetarian') ;
INSERT INTO Has VALUES ('100979209091284607043', 'Vegan') ;
INSERT INTO Has VALUES ('100979209091284607043', 'Gluten Free') ;
INSERT INTO Has VALUES ('113925979010755045233', 'Vegetarian') ;
INSERT INTO Has VALUES ('108147270510113647072', 'Vegan') ;
INSERT INTO Has VALUES ('108147270510113647072', 'Gluten Free') ;
INSERT INTO Has VALUES ('116343471926981995485', 'Vegetarian') ;
INSERT INTO Has VALUES ('105109333862841153578', 'Halal') ;
INSERT INTO Has VALUES ('105109333862841153578', 'Vegan') ;
INSERT INTO Has VALUES ('111465313746509260056', 'Vegetarian') ;
INSERT INTO Has VALUES ('116607437407590397286', 'Vegan') ;
INSERT INTO Has VALUES ('116607437407590397286', 'Gluten Free') ;
INSERT INTO Has VALUES ('116301489191490963420', 'Halal') ;
INSERT INTO Has VALUES ('116301489191490963420', 'Vegan') ;
INSERT INTO Has VALUES ('107325724009413713612', 'Halal') ;
INSERT INTO Has VALUES ('107325724009413713612', 'Vegan') ;
INSERT INTO Has VALUES ('113992851545243750526', 'Vegetarian') ;
INSERT INTO Has VALUES ('115603715038761573990', 'Halal') ;
INSERT INTO Has VALUES ('115603715038761573990', 'Vegan') ;
INSERT INTO Has VALUES ('110939514398102265752', 'Vegetarian') ;
INSERT INTO Has VALUES ('109686250810662600175', 'Vegetarian') ;
INSERT INTO Has VALUES ('110600859318842453971', 'Halal') ;
INSERT INTO Has VALUES ('110600859318842453971', 'Vegan') ;
INSERT INTO Has VALUES ('116226690808536587691', 'Vegan') ;
INSERT INTO Has VALUES ('116226690808536587691', 'Gluten Free') ;
INSERT INTO Has VALUES ('117805180104223887313', 'Vegan') ;
INSERT INTO Has VALUES ('117805180104223887313', 'Gluten Free') ;
INSERT INTO Has VALUES ('110680494520096453241', 'Halal') ;
INSERT INTO Has VALUES ('110680494520096453241', 'Vegan') ;
INSERT INTO Has VALUES ('108950528379145570954', 'Vegetarian') ;
INSERT INTO Has VALUES ('112469736020711473702', 'Halal') ;
INSERT INTO Has VALUES ('112469736020711473702', 'Vegan') ;
INSERT INTO Has VALUES ('118069915990270330587', 'Vegetarian') ;
INSERT INTO Has VALUES ('116147181057329990946', 'Vegetarian') ;
INSERT INTO Has VALUES ('105403677172523590077', 'Vegetarian') ;
INSERT INTO Has VALUES ('106033161491261617621', 'Vegan') ;
INSERT INTO Has VALUES ('106033161491261617621', 'Gluten Free') ;
INSERT INTO Has VALUES ('115872829535619335814', 'Vegetarian') ;
INSERT INTO Has VALUES ('111657828924237863784', 'Halal') ;
INSERT INTO Has VALUES ('111657828924237863784', 'Vegan') ;
INSERT INTO Has VALUES ('102616328252301785509', 'Vegetarian') ;
INSERT INTO Has VALUES ('101887430198938130858', 'Vegetarian') ;
INSERT INTO Has VALUES ('100429328641444850699', 'Vegetarian') ;
INSERT INTO Has VALUES ('102651086251890353981', 'Halal') ;
INSERT INTO Has VALUES ('102651086251890353981', 'Vegan') ;
INSERT INTO Has VALUES ('118001344239903990481', 'Vegetarian') ;
INSERT INTO Has VALUES ('115989939290859917367', 'Vegan') ;
INSERT INTO Has VALUES ('115989939290859917367', 'Gluten Free') ;
INSERT INTO Has VALUES ('107346411856760245541', 'Vegetarian') ;
INSERT INTO Has VALUES ('116841681841312387085', 'Vegan') ;
INSERT INTO Has VALUES ('116841681841312387085', 'Gluten Free') ;
INSERT INTO Has VALUES ('100765858083008225741', 'Vegetarian') ;
INSERT INTO Has VALUES ('114033159142891647908', 'Vegan') ;
INSERT INTO Has VALUES ('114033159142891647908', 'Gluten Free') ;
INSERT INTO Has VALUES ('100167629962001280976', 'Vegetarian') ;
INSERT INTO Has VALUES ('101729448254364603685', 'Halal') ;
INSERT INTO Has VALUES ('101729448254364603685', 'Vegan') ;
INSERT INTO Has VALUES ('101040037577552945759', 'Vegetarian') ;
INSERT INTO Has VALUES ('114925379434188237342', 'Vegan') ;
INSERT INTO Has VALUES ('114925379434188237342', 'Gluten Free') ;
INSERT INTO Has VALUES ('104230956364354780966', 'Vegetarian') ;
INSERT INTO Has VALUES ('117091511596222515257', 'Vegetarian') ;
INSERT INTO Has VALUES ('103389545224044210433', 'Vegetarian') ;
INSERT INTO Has VALUES ('100613308043868967090', 'Vegan') ;
INSERT INTO Has VALUES ('100613308043868967090', 'Gluten Free') ;
INSERT INTO Has VALUES ('117918418721057537824', 'Vegan') ;
INSERT INTO Has VALUES ('117918418721057537824', 'Gluten Free') ;

In [44]:
def insert_offers(data):
    base_insert = 'INSERT INTO offers VALUES'
    for place in data:
        for otype in place['otype']:
            value = (place['rid'],otype)
            print(base_insert,value,';')

In [156]:
insert_offers(result)

INSERT INTO offers VALUES ('ChIJu3iXyGr2wokR29wWAqLfn8Q', 'take-out') ;
INSERT INTO offers VALUES ('ChIJu3iXyGr2wokR29wWAqLfn8Q', 'delivery') ;
INSERT INTO offers VALUES ('ChIJu3iXyGr2wokR29wWAqLfn8Q', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJUZGzuBL3wokRslOX3yc9LCk', 'take-out') ;
INSERT INTO offers VALUES ('ChIJUZGzuBL3wokRslOX3yc9LCk', 'delivery') ;
INSERT INTO offers VALUES ('ChIJSQm0BGr2wokRMlxPSzeSl2g', 'take-out') ;
INSERT INTO offers VALUES ('ChIJSQm0BGr2wokRMlxPSzeSl2g', 'delivery') ;
INSERT INTO offers VALUES ('ChIJSQm0BGr2wokRMlxPSzeSl2g', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJD86ws4JYwokRz3jXJAWgGdM', 'take-out') ;
INSERT INTO offers VALUES ('ChIJD86ws4JYwokRz3jXJAWgGdM', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJjYXMA6r3wokRqsATKxPO-Vg', 'take-out') ;
INSERT INTO offers VALUES ('ChIJjYXMA6r3wokRqsATKxPO-Vg', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJVVUpOG_2wokRFUtuo_v80Ts', 'take-out') ;
INSERT INTO offers VALUES ('ChIJVVUpOG_2wokRFUtuo_v80Ts', 'delivery') ;
INSERT INTO offers VALUES ('ChIJVVUpOG_2wokRFUtuo_v80Ts', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJFalicmT2wokR02HksZFX9VA', 'take-out') ;
INSERT INTO offers VALUES ('ChIJFalicmT2wokR02HksZFX9VA', 'delivery') ;
INSERT INTO offers VALUES ('ChIJFalicmT2wokR02HksZFX9VA', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJYbl1lBL2wokR3Pw0NejRRvM', 'take-out') ;
INSERT INTO offers VALUES ('ChIJYbl1lBL2wokR3Pw0NejRRvM', 'delivery') ;
INSERT INTO offers VALUES ('ChIJYbl1lBL2wokR3Pw0NejRRvM', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJg0Bl54JYwokR8k8qF8pW-eI', 'take-out') ;
INSERT INTO offers VALUES ('ChIJg0Bl54JYwokR8k8qF8pW-eI', 'delivery') ;
INSERT INTO offers VALUES ('ChIJg0Bl54JYwokR8k8qF8pW-eI', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJU-oKKh1ZwokR9HVy197A8mM', 'take-out') ;
INSERT INTO offers VALUES ('ChIJU-oKKh1ZwokR9HVy197A8mM', 'delivery') ;
INSERT INTO offers VALUES ('ChIJU-oKKh1ZwokR9HVy197A8mM', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJEY8Sdlf2wokRCnHpToa-BE0', 'take-out') ;
INSERT INTO offers VALUES ('ChIJEY8Sdlf2wokRCnHpToa-BE0', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJfebAhnn3wokRvTbzHU2Scwg', 'take-out') ;
INSERT INTO offers VALUES ('ChIJfebAhnn3wokRvTbzHU2Scwg', 'delivery') ;
INSERT INTO offers VALUES ('ChIJfebAhnn3wokRvTbzHU2Scwg', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJgTrKAYZYwokRrLF7JiGwdNM', 'take-out') ;
INSERT INTO offers VALUES ('ChIJgTrKAYZYwokRrLF7JiGwdNM', 'delivery') ;
INSERT INTO offers VALUES ('ChIJ1S4Bt45YwokRrLS1-axV2_Q', 'take-out') ;
INSERT INTO offers VALUES ('ChIJ1S4Bt45YwokRrLS1-axV2_Q', 'delivery') ;
INSERT INTO offers VALUES ('ChIJ1S4Bt45YwokRrLS1-axV2_Q', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJZ5fe_Uv2wokRUEQShWZJFHI', 'take-out') ;
INSERT INTO offers VALUES ('ChIJZ5fe_Uv2wokRUEQShWZJFHI', 'delivery') ;
INSERT INTO offers VALUES ('ChIJF41lDSb2wokRoHfKgOBOG0s', 'take-out') ;
INSERT INTO offers VALUES ('ChIJF41lDSb2wokRoHfKgOBOG0s', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJse3BjyT2wokRF2Tkb2uT5YI', 'take-out') ;
INSERT INTO offers VALUES ('ChIJse3BjyT2wokRF2Tkb2uT5YI', 'delivery') ;
INSERT INTO offers VALUES ('ChIJse3BjyT2wokRF2Tkb2uT5YI', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJazunFWT2wokRqVgH0HhWeGQ', 'take-out') ;
INSERT INTO offers VALUES ('ChIJazunFWT2wokRqVgH0HhWeGQ', 'delivery') ;
INSERT INTO offers VALUES ('ChIJyUF6iuxZwokR6gknGZ-DEWA', 'take-out') ;
INSERT INTO offers VALUES ('ChIJyUF6iuxZwokR6gknGZ-DEWA', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJiZfMBoZYwokRhMJwRoMM2xQ', 'take-out') ;
INSERT INTO offers VALUES ('ChIJiZfMBoZYwokRhMJwRoMM2xQ', 'delivery') ;
INSERT INTO offers VALUES ('ChIJYwW6R6L3wokRQ9H1nf7nn4g', 'take-out') ;
INSERT INTO offers VALUES ('ChIJYwW6R6L3wokRQ9H1nf7nn4g', 'delivery') ;
INSERT INTO offers VALUES ('ChIJYwW6R6L3wokRQ9H1nf7nn4g', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJKRFZOIRYwokR_uw6rPg9wgI', 'take-out') ;
INSERT INTO offers VALUES ('ChIJKRFZOIRYwokR_uw6rPg9wgI', 'delivery') ;
INSERT INTO offers VALUES ('ChIJKRFZOIRYwokR_uw6rPg9wgI', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJH08CYyP2wokRtebMqpU5a-4', 'take-out') ;
INSERT INTO offers VALUES ('ChIJH08CYyP2wokRtebMqpU5a-4', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJY3CwCIT3wokReNnkV6ZC0rM', 'take-out') ;
INSERT INTO offers VALUES ('ChIJY3CwCIT3wokReNnkV6ZC0rM', 'delivery') ;
INSERT INTO offers VALUES ('ChIJf3PXqGP3wokR-ev9ov5e91Y', 'take-out') ;
INSERT INTO offers VALUES ('ChIJf3PXqGP3wokR-ev9ov5e91Y', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJb5N7zCf2wokRE6kxhGJaJ0Y', 'take-out') ;
INSERT INTO offers VALUES ('ChIJb5N7zCf2wokRE6kxhGJaJ0Y', 'delivery') ;
INSERT INTO offers VALUES ('ChIJb5N7zCf2wokRE6kxhGJaJ0Y', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJe4ujVyP2wokRC3a6Xbt-zSY', 'take-out') ;
INSERT INTO offers VALUES ('ChIJe4ujVyP2wokRC3a6Xbt-zSY', 'delivery') ;
INSERT INTO offers VALUES ('ChIJe4ujVyP2wokRC3a6Xbt-zSY', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJ5fDdEoVYwokRYPEr9pcE0WQ', 'take-out') ;
INSERT INTO offers VALUES ('ChIJ5fDdEoVYwokRYPEr9pcE0WQ', 'delivery') ;
INSERT INTO offers VALUES ('ChIJ5fDdEoVYwokRYPEr9pcE0WQ', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJc71Q34VYwokRARHW9df6Zgs', 'take-out') ;
INSERT INTO offers VALUES ('ChIJc71Q34VYwokRARHW9df6Zgs', 'delivery') ;
INSERT INTO offers VALUES ('ChIJ5SpD7otYwokR1F-cMlCK0js', 'take-out') ;
INSERT INTO offers VALUES ('ChIJ5SpD7otYwokR1F-cMlCK0js', 'delivery') ;
INSERT INTO offers VALUES ('ChIJ5SpD7otYwokR1F-cMlCK0js', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJbwTxTAH2wokRUwXPOya3MoA', 'take-out') ;
INSERT INTO offers VALUES ('ChIJbwTxTAH2wokRUwXPOya3MoA', 'delivery') ;
INSERT INTO offers VALUES ('ChIJbwTxTAH2wokRUwXPOya3MoA', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJ7cS0D4NYwokRSy7Zb5tUlOQ', 'take-out') ;
INSERT INTO offers VALUES ('ChIJ7cS0D4NYwokRSy7Zb5tUlOQ', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJXxNP-mL2wokRStZTuUKsOao', 'take-out') ;
INSERT INTO offers VALUES ('ChIJXxNP-mL2wokRStZTuUKsOao', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJRf0k0Y5YwokR7hh2IBTl3LY', 'take-out') ;
INSERT INTO offers VALUES ('ChIJRf0k0Y5YwokR7hh2IBTl3LY', 'delivery') ;
INSERT INTO offers VALUES ('ChIJRf0k0Y5YwokR7hh2IBTl3LY', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJQyEs-WFYwokRxcMQc54r9W0', 'take-out') ;
INSERT INTO offers VALUES ('ChIJQyEs-WFYwokRxcMQc54r9W0', 'delivery') ;
INSERT INTO offers VALUES ('ChIJQyEs-WFYwokRxcMQc54r9W0', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJS9-cg4VYwokRL7S120Rkbjo', 'take-out') ;
INSERT INTO offers VALUES ('ChIJS9-cg4VYwokRL7S120Rkbjo', 'delivery') ;
INSERT INTO offers VALUES ('ChIJ5XS2IGr2wokRdTbYbSSBcwU', 'take-out') ;
INSERT INTO offers VALUES ('ChIJ5XS2IGr2wokRdTbYbSSBcwU', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJqdmU34pYwokR8IaCbL9rb4M', 'take-out') ;
INSERT INTO offers VALUES ('ChIJqdmU34pYwokR8IaCbL9rb4M', 'delivery') ;
INSERT INTO offers VALUES ('ChIJqdmU34pYwokR8IaCbL9rb4M', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJt3rLE3P2wokRApaaB2gVTOM', 'take-out') ;
INSERT INTO offers VALUES ('ChIJt3rLE3P2wokRApaaB2gVTOM', 'delivery') ;
INSERT INTO offers VALUES ('ChIJizsMQxX2wokRSD5_pzmhaYg', 'take-out') ;
INSERT INTO offers VALUES ('ChIJizsMQxX2wokRSD5_pzmhaYg', 'delivery') ;
INSERT INTO offers VALUES ('ChIJJaCHP1f2wokRKhGwZwoJlvg', 'take-out') ;
INSERT INTO offers VALUES ('ChIJJaCHP1f2wokRKhGwZwoJlvg', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJcRgR0W72wokRfT2l0W4NVIs', 'take-out') ;
INSERT INTO offers VALUES ('ChIJcRgR0W72wokRfT2l0W4NVIs', 'delivery') ;
INSERT INTO offers VALUES ('ChIJcRgR0W72wokRfT2l0W4NVIs', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJxUfPdp33wokRZJ9SiUhf0j0', 'take-out') ;
INSERT INTO offers VALUES ('ChIJxUfPdp33wokRZJ9SiUhf0j0', 'delivery') ;
INSERT INTO offers VALUES ('ChIJxUfPdp33wokRZJ9SiUhf0j0', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJu25Iu7tYwokRS9eaSuLSwxE', 'take-out') ;
INSERT INTO offers VALUES ('ChIJu25Iu7tYwokRS9eaSuLSwxE', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJM3HWz3z2wokR0ktkaSf5gSw', 'take-out') ;
INSERT INTO offers VALUES ('ChIJM3HWz3z2wokR0ktkaSf5gSw', 'delivery') ;
INSERT INTO offers VALUES ('ChIJM3HWz3z2wokR0ktkaSf5gSw', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJT4-zRP9ZwokRph9ydWRuqTU', 'take-out') ;
INSERT INTO offers VALUES ('ChIJT4-zRP9ZwokRph9ydWRuqTU', 'delivery') ;
INSERT INTO offers VALUES ('ChIJTf4rvaP3wokRiemnWh1PHI0', 'take-out') ;
INSERT INTO offers VALUES ('ChIJTf4rvaP3wokRiemnWh1PHI0', 'delivery') ;
INSERT INTO offers VALUES ('ChIJTf4rvaP3wokRiemnWh1PHI0', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJT4-Zcwv2wokRH7wV0JwDc4I', 'take-out') ;
INSERT INTO offers VALUES ('ChIJT4-Zcwv2wokRH7wV0JwDc4I', 'delivery') ;
INSERT INTO offers VALUES ('ChIJXcOZ2VD2wokROENedT4harY', 'take-out') ;
INSERT INTO offers VALUES ('ChIJXcOZ2VD2wokROENedT4harY', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJj35dz8xZwokR8d8a6Fnx3vQ', 'take-out') ;
INSERT INTO offers VALUES ('ChIJj35dz8xZwokR8d8a6Fnx3vQ', 'delivery') ;
INSERT INTO offers VALUES ('ChIJgbZ3_0r2wokRRpVKcTVcVD0', 'take-out') ;
INSERT INTO offers VALUES ('ChIJgbZ3_0r2wokRRpVKcTVcVD0', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJ9w07X5RYwokR5eolQAZ49C4', 'take-out') ;
INSERT INTO offers VALUES ('ChIJ9w07X5RYwokR5eolQAZ49C4', 'delivery') ;
INSERT INTO offers VALUES ('ChIJZQxmmktZwokRN5ADkQ93RnY', 'take-out') ;
INSERT INTO offers VALUES ('ChIJZQxmmktZwokRN5ADkQ93RnY', 'delivery') ;
INSERT INTO offers VALUES ('ChIJZQxmmktZwokRN5ADkQ93RnY', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJg7-TU1D2wokRQUJkH_H3hnw', 'take-out') ;
INSERT INTO offers VALUES ('ChIJg7-TU1D2wokRQUJkH_H3hnw', 'delivery') ;
INSERT INTO offers VALUES ('ChIJg7-TU1D2wokRQUJkH_H3hnw', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJ82yIyIJYwokRmr2Jrd_XykA', 'take-out') ;
INSERT INTO offers VALUES ('ChIJ82yIyIJYwokRmr2Jrd_XykA', 'delivery') ;
INSERT INTO offers VALUES ('ChIJ82yIyIJYwokRmr2Jrd_XykA', 'dine-in') ;
INSERT INTO offers VALUES ('ChIJOcsGVkr2wokRLmfHmhItPp0', 'take-out') ;
INSERT INTO offers VALUES ('ChIJOcsGVkr2wokRLmfHmhItPp0', 'dine-in') ;

In [145]:
def insert_is_at_location(data):
    base_insert = 'INSERT INTO Is_at_Locations VALUES'
    for place in data:
        loc = place['loc']
        value = (place['rid'],loc['stnum'],loc['stname'],loc['city'], loc['state'],loc['postal'])
        print(base_insert,value,';')

In [157]:
insert_is_at_location(result)

INSERT INTO Is_at_Locations VALUES ('ChIJu3iXyGr2wokR29wWAqLfn8Q', '1280', 'Amsterdam Ave', 'New York', 'NY', '10027') ;
INSERT INTO Is_at_Locations VALUES ('ChIJUZGzuBL3wokRslOX3yc9LCk', '998', 'Columbus Ave', 'New York', 'NY', '10025') ;
INSERT INTO Is_at_Locations VALUES ('ChIJSQm0BGr2wokRMlxPSzeSl2g', '3183', 'Broadway', 'New York', 'NY', '10027') ;
INSERT INTO Is_at_Locations VALUES ('ChIJD86ws4JYwokRz3jXJAWgGdM', '685', 'Amsterdam Ave', 'New York', 'NY', '10025') ;
INSERT INTO Is_at_Locations VALUES ('ChIJjYXMA6r3wokRqsATKxPO-Vg', 'STE', '350', 'New York', 'NY', '10027') ;
INSERT INTO Is_at_Locations VALUES ('ChIJVVUpOG_2wokRFUtuo_v80Ts', '1504', 'Amsterdam Ave', 'New York', 'NY', '10031') ;
INSERT INTO Is_at_Locations VALUES ('ChIJFalicmT2wokR02HksZFX9VA', '3470', 'Broadway', 'New York', 'NY', '10031') ;
INSERT INTO Is_at_Locations VALUES ('ChIJYbl1lBL2wokR3Pw0NejRRvM', '2071', 'Adam Clayton Powell Jr Blvd', 'New York', 'NY', '10027') ;
INSERT INTO Is_at_Locations VALUES ('ChIJg0Bl54JYwokR8k8qF8pW-eI', '642', 'Amsterdam Ave', 'New York', 'NY', '10025') ;
INSERT INTO Is_at_Locations VALUES ('ChIJU-oKKh1ZwokR9HVy197A8mM', '410', 'Amsterdam Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJEY8Sdlf2wokRCnHpToa-BE0', '1034', 'River Rd', 'Edgewater', 'NJ', '07020-1330') ;
INSERT INTO Is_at_Locations VALUES ('ChIJfebAhnn3wokRvTbzHU2Scwg', '1086', 'River Rd', 'Edgewater', 'NJ', '07020') ;
INSERT INTO Is_at_Locations VALUES ('ChIJgTrKAYZYwokRrLF7JiGwdNM', '427', 'Amsterdam Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJ1S4Bt45YwokRrLS1-axV2_Q', '57', 'W 76th St', 'New York', 'NY', '10023') ;
INSERT INTO Is_at_Locations VALUES ('ChIJZ5fe_Uv2wokRUEQShWZJFHI', '#51', '725', 'Edgewater', 'NJ', '07020') ;
INSERT INTO Is_at_Locations VALUES ('ChIJF41lDSb2wokRoHfKgOBOG0s', '2634', 'Broadway', 'New York', 'NY', '10025-5021') ;
INSERT INTO Is_at_Locations VALUES ('ChIJse3BjyT2wokRF2Tkb2uT5YI', '928', 'Amsterdam Ave', 'New York', 'NY', '10025-3604') ;
INSERT INTO Is_at_Locations VALUES ('ChIJazunFWT2wokRqVgH0HhWeGQ', '3452', 'Broadway', 'New York', 'NY', '10031-5631') ;
INSERT INTO Is_at_Locations VALUES ('ChIJyUF6iuxZwokR6gknGZ-DEWA', '620', 'Amsterdam Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJiZfMBoZYwokRhMJwRoMM2xQ', '433', 'Amsterdam Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJYwW6R6L3wokRQ9H1nf7nn4g', '1264', 'Amsterdam Ave', 'New York', 'NY', '10027') ;
INSERT INTO Is_at_Locations VALUES ('ChIJKRFZOIRYwokR_uw6rPg9wgI', '510', 'Amsterdam Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJH08CYyP2wokRtebMqpU5a-4', '161', 'W 106th St', 'New York', 'NY', '10025') ;
INSERT INTO Is_at_Locations VALUES ('ChIJY3CwCIT3wokReNnkV6ZC0rM', '1518', 'Amsterdam Ave', 'New York', 'NY', '10031') ;
INSERT INTO Is_at_Locations VALUES ('ChIJf3PXqGP3wokR-ev9ov5e91Y', '1028', 'Amsterdam Ave', 'New York', 'NY', '10025') ;
INSERT INTO Is_at_Locations VALUES ('ChIJb5N7zCf2wokRE6kxhGJaJ0Y', '760', 'Amsterdam Ave', 'New York', 'NY', '10025-5703') ;
INSERT INTO Is_at_Locations VALUES ('ChIJe4ujVyP2wokRC3a6Xbt-zSY', '964', 'Amsterdam Ave', 'New York', 'NY', '10025') ;
INSERT INTO Is_at_Locations VALUES ('ChIJ5fDdEoVYwokRYPEr9pcE0WQ', '483', 'Columbus Ave', 'New York', 'NY', '10024-4630') ;
INSERT INTO Is_at_Locations VALUES ('ChIJc71Q34VYwokRARHW9df6Zgs', '462', 'Amsterdam Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJ5SpD7otYwokR1F-cMlCK0js', '285', 'Columbus Ave', 'New York', 'NY', '10023') ;
INSERT INTO Is_at_Locations VALUES ('ChIJbwTxTAH2wokRUwXPOya3MoA', '255', 'E 110th St', 'New York', 'NY', '10029') ;
INSERT INTO Is_at_Locations VALUES ('ChIJ7cS0D4NYwokRSy7Zb5tUlOQ', '612', 'Amsterdam Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJXxNP-mL2wokRStZTuUKsOao', '3569', 'Broadway', 'New York', 'NY', '10031') ;
INSERT INTO Is_at_Locations VALUES ('ChIJRf0k0Y5YwokR7hh2IBTl3LY', '370', 'Columbus Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJQyEs-WFYwokRxcMQc54r9W0', '251', 'W 72nd St', 'New York', 'NY', '10023') ;
INSERT INTO Is_at_Locations VALUES ('ChIJS9-cg4VYwokRL7S120Rkbjo', '5502', '100', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJ5XS2IGr2wokRdTbYbSSBcwU', '567', 'W 125th St', 'New York', 'NY', '10027') ;
INSERT INTO Is_at_Locations VALUES ('ChIJqdmU34pYwokR8IaCbL9rb4M', '103', 'W 70th St', 'New York', 'NY', '10023') ;
INSERT INTO Is_at_Locations VALUES ('ChIJt3rLE3P2wokRApaaB2gVTOM', '381A', 'Malcolm X Blvd', 'New York', 'NY', '10027') ;
INSERT INTO Is_at_Locations VALUES ('ChIJizsMQxX2wokRSD5_pzmhaYg', '1239', 'Amsterdam Ave', 'New York', 'NY', '10027-6603') ;
INSERT INTO Is_at_Locations VALUES ('ChIJJaCHP1f2wokRKhGwZwoJlvg', '# 6', '986', 'Edgewater', 'NJ', '07020-1300') ;
INSERT INTO Is_at_Locations VALUES ('ChIJcRgR0W72wokRfT2l0W4NVIs', '1467', 'Amsterdam Ave', 'New York', 'NY', '10027') ;
INSERT INTO Is_at_Locations VALUES ('ChIJxUfPdp33wokRZJ9SiUhf0j0', '774', 'Amsterdam Ave', 'New York', 'NY', '10025') ;
INSERT INTO Is_at_Locations VALUES ('ChIJu25Iu7tYwokRS9eaSuLSwxE', '343', 'E 85th St', 'New York', 'NY', '10028') ;
INSERT INTO Is_at_Locations VALUES ('ChIJM3HWz3z2wokR0ktkaSf5gSw', '500', 'W 146th St', 'New York', 'NY', '10031') ;
INSERT INTO Is_at_Locations VALUES ('ChIJT4-zRP9ZwokRph9ydWRuqTU', '566', 'Amsterdam Ave', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJTf4rvaP3wokRiemnWh1PHI0', '2707', 'Broadway', 'New York', 'NY', '10025-4442') ;
INSERT INTO Is_at_Locations VALUES ('ChIJT4-Zcwv2wokRH7wV0JwDc4I', '1960', 'Madison Ave', 'New York', 'NY', '10035') ;
INSERT INTO Is_at_Locations VALUES ('ChIJXcOZ2VD2wokROENedT4harY', '10', 'Dempsey Ave', 'Edgewater', 'NJ', '07020-1204') ;
INSERT INTO Is_at_Locations VALUES ('ChIJj35dz8xZwokR8d8a6Fnx3vQ', '286', 'Columbus Ave', 'New York', 'NY', '10023-2302') ;
INSERT INTO Is_at_Locations VALUES ('ChIJgbZ3_0r2wokRRpVKcTVcVD0', '595', 'River Rd', 'Edgewater', 'NJ', '07020-1104') ;
INSERT INTO Is_at_Locations VALUES ('ChIJ9w07X5RYwokR5eolQAZ49C4', '976', 'Madison Ave', 'New York', 'NY', '10075') ;
INSERT INTO Is_at_Locations VALUES ('ChIJZQxmmktZwokRN5ADkQ93RnY', '207', 'W 80th St', 'New York', 'NY', '10024') ;
INSERT INTO Is_at_Locations VALUES ('ChIJg7-TU1D2wokRQUJkH_H3hnw', '905', 'River Rd', 'Edgewater', 'NJ', '07020') ;
INSERT INTO Is_at_Locations VALUES ('ChIJ82yIyIJYwokRmr2Jrd_XykA', '661', 'Amsterdam Ave', 'New York', 'NY', '10025-7430') ;
INSERT INTO Is_at_Locations VALUES ('ChIJOcsGVkr2wokRLmfHmhItPp0', '595', 'River Rd', 'Edgewater', 'NJ', '07020-1104') ;

In [125]:
def insert_user_reviews(data):
    base_insert = 'INSERT INTO User_Reviews VALUES'
    for place in data:
        rev = place['rev']
        if rev == None:
            continue
        else:
            for review in rev:
                urid = review['urid']
                rating = review['rating']
                detail = review['detail']
                value = (urid,rating,detail)
                print(base_insert,value,';')

In [158]:
insert_user_reviews(result)

INSERT INTO User_Reviews VALUES ('1073257240094137136122', 5, 'This restaurant is no doubt one of the tastiest place to eat in the neighborhood. Always when I go there I am incredibly happy. They manage their high  level service and the highest level of food  they offer. You will be always satisfied with this restaurant. Very  recommended.') ;
INSERT INTO User_Reviews VALUES ('1111309857000646600308', 5, "Haven't visited since covid took over. But hands down top 3 in all categories. Food, drinks but the best is ambience!🔥 Wont mention any spots that might have a rep but ill take Nikkos any day over a franchise.") ;
INSERT INTO User_Reviews VALUES ('1116762536143342823813', 5, 'This place is awesome! Good prices, big dishes and the staff are always very nice.') ;
INSERT INTO User_Reviews VALUES ('1161273201578486632477', 5, 'Amazing staff, who are not only very professional, but also super helpful. Highly recommend the calamari.') ;
INSERT INTO User_Reviews VALUES ('1006111607273822405232', 5, 'The place is excellent and broad, the food was delightful and the rates were very fair. quickly, effective service and very personal waiters. I recommend this place.') ;
INSERT INTO User_Reviews VALUES ('1139400492006473620487', 2, "My friend has been raving about this place so I decided to give it a try. I tried ordering on a Tuesday but they are closed (random) but I phoned a different day and placed an order.  What the person taking my order failed to tell me is that they charge $5 FOR DELIVERY.  I left a tip on top of that so when I saw my receipt I was pretty annoyed.  Had the sushi been amazing then it wouldn't have mattered but it wasn't so it does.  Honest communication is key.") ;
INSERT INTO User_Reviews VALUES ('1133504294500630616062', 5, "Great Sushi spot near Columbia University. The wait staff is friendly and helpful. They're a bit overly techno- you have to scan a QR code to order.... Then the food is awesome.") ;
INSERT INTO User_Reviews VALUES ('1182028511923496398876', 5, 'More familiar with the one by union square. But amazing place for sushi. Had all you can eat and drink. Was a little pricey but expected with the pandemic going on. Had a great time with great food.') ;
INSERT INTO User_Reviews VALUES ('1080459256032178996081', 4, 'Overall good quality not the best I have tried but pretty good. They started indoor dining they are doing great job in disinfecting everything.\n\nI liked the online ordering system specially you see the photos of what you are ordering\n\nI recommend coming to here') ;
INSERT INTO User_Reviews VALUES ('1115943826641593303277', 5, 'Delicious sushi. Some of the best I’ve ever had. Will definitely be coming back here again.') ;
INSERT INTO User_Reviews VALUES ('1009561143962588602206', 3, 'Very limited vegetarian options. The vegan thai curry ramen marked as spicy was super bland') ;
INSERT INTO User_Reviews VALUES ('1144152845581942195371', 5, 'Good food and place, excellent service! ') ;
INSERT INTO User_Reviews VALUES ('1001596212156606935262', 5, 'This spot clearly knows how to take care of their customers. Regularly with a very nice demeanor. The food is conveniently priced, regularly tasty and clean.') ;
INSERT INTO User_Reviews VALUES ('1087202980121155241385', 5, 'I tried this spot already with my friend and I am obsessed ever since. I like the excellent atmosphere and delightful food and drinks. Highly recommended.') ;
INSERT INTO User_Reviews VALUES ('1021936027780640042993', 5, 'Would definitely recommend visiting this place. Awesome character, delightful dishes, great customer service. Highly recommended.') ;
INSERT INTO User_Reviews VALUES ('1103167105420558244553', 5, 'We like a lot hanging out. Last night we arrived in this delicious place which we didn’t know before. We enjoyed a lovely evening there with fine cooking and a courteous stuff and a distinguished  cuisine. We put this restaurant in our list  and we shall no doubt visit again very soon. We warmly recommend.') ;
INSERT INTO User_Reviews VALUES ('1007245108146138379753', 5, "Great local fresh sushi spot. Customer service is friendly and welcoming, everyone here works so hard. My favorite is the salmon avocado roll with extra ginger. I've ordered take out here many times and have not been disappointed. Thank you Kouzan.") ;
INSERT INTO User_Reviews VALUES ('1028542769335337921363', 5, 'A great Japanese restaurant. My daughter and I enjoyed our dinners here') ;
INSERT INTO User_Reviews VALUES ('1101998205311146542752', 5, 'High') ;
INSERT INTO User_Reviews VALUES ('1104546451330710745351', 5, "They're always very nice, their sushi is great. I love their bento boxes too. There are other Japanese restaurants closer to where I live, but I'm always glad to walk a couple of extra blocks") ;
INSERT INTO User_Reviews VALUES ('1095438137647750094089', 5, 'good food, and sake is fine.') ;
INSERT INTO User_Reviews VALUES ('1110884523307692802558', 5, "Had a wonderful time meeting a friend here. While the street is bustling just a block over, Yuzu has calm socially distanced atmosphere. The service was excellent, as our waitress and the management went over and above to help us feel safe and welcome. The food is light yet extremely satisfying, and I highly recommend their sake selections- the Plum Sake is out of this world, delicious. I took home a small doggy bag. We ate outside. Inside, there is no seating, only for MGMT and servers. The restrooms are a straight shot when you walk in, and there's no need to be bombarded with people. Many folks were online for to go orders which speaks to their delicious, clean food. They're clearly a welcome addition to the community, as many Black and Brown folks were patronizing the establishment- at least on the night we were there! Overall great food, great service!") ;
INSERT INTO User_Reviews VALUES ('1141219988711070884264', 5, 'I have only gotten delivery, but the sushi is great--tastes fresh, good portions, and as far as sushi goes, reasonably priced. Would highly recommend!') ;
INSERT INTO User_Reviews VALUES ('1181930375369426806494', 5, 'Delicious and fresh in a welcoming and cute setting. Their new outdoor patio is fantastic!') ;
INSERT INTO User_Reviews VALUES ('1171866456858774591416', 5, 'They offer a large variety of delicious food. I loved eating here. Employees are always very welcoming, rates are reasonable and the place is always clean.') ;
INSERT INTO User_Reviews VALUES ('1099996587643288544491', 5, "Fresh sushi, great taste, nice pretty small area. The Employee was also very kind. If you're expecting fresh seafood its a good idea to just walk in than getting it delivered, think about it it's seafood not a thing you want delivered for health reasons as well. I felt it was a bad idea in begin to know seafood can. The place has been moved to 135st up the hill I believe that's Amstradam.") ;
INSERT INTO User_Reviews VALUES ('1024361503845772566554', 5, "I love the ramen in this place its so good, this is my husband's and i spot and where we had our first date really recommend🥰") ;
INSERT INTO User_Reviews VALUES ('1126936051158321527420', 5, 'Excellent service, reasonable price, delicious sushi 🍣 . I ordered many times and will keep doing it. ❤️') ;
INSERT INTO User_Reviews VALUES ('1061253954704361147553', 4, 'Covid-29 has change the lives of many New Yorkers offering us less and less dining options.  I was looking for sushi options to take my daughter out for her 11th birthday and stumbled across this cute little sushi place.  The server was awesome he made every attempt to acomódate us. He wore a mask as he served and although no one was inside all of the chefs also wore mask. They had this  small little outside space. Sushi Sushi offered a really good dinner special. The food was fresh and really good. My dislikes are  more related to the surrounding area of the restaurant. I get that we have to adapt to the COVID-19 situation but the garbage bins around the outside dining make it unappealing to sit and eat. Also the bathroom was way too small and more like a combination of a utility room and bathroom.  There should also be some better barriers for the outside dining where street parking is allowed. I only gave the 4 stars because of these issues. Other than these things this was a great experience.') ;
INSERT INTO User_Reviews VALUES ('1102659515024900146372', 1, 'I ordered two different rolls that contained avocado. The avocado was not ripe and was literally uneatable. When I requested I refund, they refused and plainly said I was wrong.') ;
INSERT INTO User_Reviews VALUES ('1039988104280082990560', 3, "I am generally happy with the sushi,  but the chicken Kimchi fried rice is a consistent disappointment. Even when i ordered extra kimchi, AND chicken they obviously didn't put more chicken or kimchi.") ;
INSERT INTO User_Reviews VALUES ('1063070219021580476928', 5, 'This place sure knows how to serve their customers. Always with a nice attitude. The food is reasonably priced, always delicious and neat.') ;
INSERT INTO User_Reviews VALUES ('1140885178025325582487', 3, 'Sorry but the owner needs to work on getting the food ready a little faster. Theres no reason to wait more than 30 mins when there’s literally no one here.') ;
INSERT INTO User_Reviews VALUES ('1102062624578313316541', 1, "I order from here on Uber Eats. The delivery was great and I was excited to eat my buns and sushi. The pork buns were 95% buns and very chewy. The eel roll tasted good but had a lot of bones still in the meat.\n\nBut here's the kicker, when I went to eat my softshell crab roll, I was already skeptical of bones from the eel . First piece tasted really good and redeemed the first two things, then I ate the second piece and there was a STAPLE in my food. Not eating here ever again.") ;
INSERT INTO User_Reviews VALUES ('1027425841194195232402', 5, 'Great quality sushi!  Ordered online and went here on a Friday night for pickup. Highly recommend.') ;
INSERT INTO User_Reviews VALUES ('1146645287366796732825', 5, 'I go with my wife to this restaurant from time to time! This is my favorite place to to have a good dinner.  I go there frequently. The food is excellent, the workers are professional and the rates are decent. I like being in this restaurant to have a tasty supper.') ;
INSERT INTO User_Reviews VALUES ('1060292870986100529834', 5, 'Love this place! Super delicious, personable, fast…if you order direct from there. Through a delivery app may change your opinion (don’t do it :). They have consistent quality, great place.') ;
INSERT INTO User_Reviews VALUES ('1163891056190429238734', 5, 'A1 Asian Fusion attempted to delivery my order three times because I had forgotten my phone and they couldn’t reach me! Great customer service. Great food!') ;
INSERT INTO User_Reviews VALUES ('1027407113522414366717', 3, "I'd say the flavors of the food is good, but overall the food is not worth the price you pay.") ;
INSERT INTO User_Reviews VALUES ('1040524768216854829288', 5, 'Service is extremely clean fast and safe, I have seen this restaurant for years living in Harlem but never anticipated the food to be so good.. I appreciated the meal 5 stars') ;
INSERT INTO User_Reviews VALUES ('1044192402817184186119', 5, 'We ordered for the 1st time today and were so impressed. The sushi was "the freaking best" according to my 9 year old son. The katsu pork was perfect - even more so because they punched little holes in the lid of the container to keep it from getting soggy. They also hurried our take out order when they saw the ravenous look on my son\'s face. We\'ll make this a regular stop!') ;
INSERT INTO User_Reviews VALUES ('1010105288014987580364', 5, 'This is my go to sushi place, everything I have had here is solid. My favorite is the two roll combo special. Perfect amount go sushi for me. Their veggie goyza, eggplant miso, and vegetable soup is also delicious.\nWhen I go to the restaurant it is always clean and the staff are nice. When I order online the food always comes on time and packaged nicely.') ;
INSERT INTO User_Reviews VALUES ('1077645759740119863798', 4, "Great, and amazingly affordable. Concerning the part of town, it's a blessing.") ;
INSERT INTO User_Reviews VALUES ('1072536000847263776951', 5, 'They have the best lunch and dinner specials in the area. Very delicious and friendly service. Been going here the past 5 years.') ;
INSERT INTO User_Reviews VALUES ('1018218101999532315802', 1, "Had to pick up an Uber order. They had me waiting for 10 mins or more. Uber does not pay me for wait time and usually you go in and out to pick up! They did not let me use the restroom despite making me wait. These people are so inhumane. If you are making these people money, you would imagine they would at least let you use the restroom while you wait. Delivery drivers are doing orders back to back and can't go home just to use the restroom. Usually if you deliver for a restaurant, they will let you use their restroom. Not these terrible people. Awful!") ;
INSERT INTO User_Reviews VALUES ('1111490720845950165534', 4, "I'm new to LA and am Leaving a review to say 2 things:\n1. This place had amazing fried chicken - crunchy breading, delicious flavouring, and fast service\n2. Peter (an employee there) really helped me out when I made my first order - wanted to say I appreciate his help.\n\nPoints 1&2 are how you make a customer for life, keep up the good work howlin' rays !") ;
INSERT INTO User_Reviews VALUES ('1100115268500917523641', 5, 'Amazing food and really nice people. Personally I have never been much of a fan of fish but I certainly changed my mind after going here. It was evident how fresh the fish was and how meticulously it was prepared. I definitely recommend going here. Now, since the fish is very high quality it can be a bit expensive but this is to be expected.') ;
INSERT INTO User_Reviews VALUES ('1094801983047080496172', 3, 'this place is good for americans but i guess you wont see there japanese... just nothing special... presentation was extremly poor... no one even explaned what they brought on a table.. i expected something more.... however service, staff was super friendly and attentive i guess because of the crisis :)') ;
INSERT INTO User_Reviews VALUES ('1006186858589889578511', 4, 'The sushi was fresh and the rice was well cooked. Loved the outdoor seating! The ambiance was beautiful. My friend\xa0and I ordered the sushi omakase for our dinner. The restaurant seems to be pretty busy for\xa0Tuesday night. The meal came out very slow and when we finally received our last course staff started to cover the tables and chairs next to us. We felt very rushed and uncomfortable\xa0so we left the restaurant as soon as we can. If they wanna close on time they should serve food on time first.. besides that food was good and the manager was very kind.') ;
INSERT INTO User_Reviews VALUES ('1027501152489740109375', 5, 'Amazing food and ambiance, friendly staff. Fish is super fresh and just melts in your mouth!') ;
INSERT INTO User_Reviews VALUES ('1053074429199847105477', 5, 'This place is legit. My first time here on a Friday night, Labor Day weekend. The food is how it’s supposed to: yummy, crispy, and fresh. We did the all you can eat and pretty much tried everything on the appetizer list and 3 special rolls. No joke, everything was delicious. Tasty, flavorful and not salty ! So worth the money!! new loyal customer and helps that we live nearby. Employees are nice, quick, attentive, and a bunch of hard working people. No complaints. Highly recommend.') ;
INSERT INTO User_Reviews VALUES ('1124449291423744146360', 4, 'Great All you can eat sushi spot, there was a long wait even with a reservation however they did supply free drinks for the inconvenience so can’t complain to much. Would highly recommend and would love to try it with indoor dining but the outdoor seating was very well done and had a great vibe to it.') ;
INSERT INTO User_Reviews VALUES ('1107645656666151496717', 5, 'Love this place! I’ve been two times and loved each time! One time was before COVID & the other is right now!\n\nI got the all you can eat both times and have not tasted a roll that we didn’t like!\n\nThis can be an intimate or a group dining which if you’ve never gone would be preferred so you can all order different kinds of rolls and see what you like and don’t like.\n\nBecause of covid they’re not serving ice cream.. which is such a bummer because I was excited for some tonight!') ;
INSERT INTO User_Reviews VALUES ('1133327241346076045276', 5, "Unlimited sushi with great options! I came here recently and they're only doing outdoor seating but they have a tent and some heaters for tables exposed to the elements. Great service and even though sweet potato sushi wasn't on the menu, I was allowed to request it!") ;
INSERT INTO User_Reviews VALUES ('1119925197669532658626', 5, 'Pay no attention to the reviews of Daniel and Anna... They were the rude and obnoxious customers. Not to mention their spelling and grammar is horrible.  Absolutely fantastic place! Awesome food! The staff  was very friendly and attentive. There was an extremely rude customer who was 100% in the wrong and the staff handled it very well.  I would definitely drive 2 hours to go here.  We will be back!!!') ;
INSERT INTO User_Reviews VALUES ('1114498862824492534229', 5, 'The best sushi house! The food is fresh and delicious. The staff is friendly and nice! We go there almost every week! And the best thing is AYCE for $30!! I totally recommend it!') ;
INSERT INTO User_Reviews VALUES ('1082775463408668898365', 5, 'Very good sushi! The menu has lots of options for dinner time!!!! I would rate it 9/10 I enjoyed my time there the staff are friendly and nice and the SUSHI WAS YUMMY♥️♥️♥️ All you can eat menu is amazing🔥') ;
INSERT INTO User_Reviews VALUES ('1070076780417867573933', 4, 'Ok for the price') ;
INSERT INTO User_Reviews VALUES ('1134486938225365925738', 5, 'The best sushi in town') ;
INSERT INTO User_Reviews VALUES ('1157728379337397730865', 5, "All you can eat $29 plus tax, fast service and a very good menu. Can't go wrong Definitely will be returning.") ;
INSERT INTO User_Reviews VALUES ('1054395437602019480115', 1, 'Their site, Yelp, and Google say they close at 10. I took an Uber in the rain and arrived at 9:12 and they told me they were closed (with people still dining and food still coming out of the kitchen). I let them know that they were advertising different hours and they said oh well. Lol. Hard pass.') ;
INSERT INTO User_Reviews VALUES ('1095159632666253611866', 5, 'This site is my preferable site.  Of all restaurants I know I like it most. I never miss an opportunity to go to that place. Whenever  I feel like having a good lunch, this place comes first to my head.  Great and all kinds of  food and a large menu.well mannered staff, and agreeable spirit. And very important, the tariff is modest. I praise this place with no doubt.') ;
INSERT INTO User_Reviews VALUES ('1120835433289813877526', 1, 'The food is nasty! Don’t go and the service was horrible! Staff was extremely rude and don’t listen! Waste of money! Try the restaurant next door. It is also Japanese!') ;
INSERT INTO User_Reviews VALUES ('1001561811187710982139', 5, 'Nice place. Polite staff, very tasty food))))') ;

In [115]:
def insert_user_writes_for(data):
    base_insert = 'INSERT INTO u_writes_for VALUES'
    for place in data:
        rid = place['rid']
        rev = place['rev']
        if rev == None:
            continue
        else:
            for review in rev:
                uid = review['uid']
                urid = review['urid']
                time = review['time']
                value = (uid,urid,rid,time)
                print(base_insert,value,';')

In [159]:
insert_user_writes_for(result)

INSERT INTO u_writes_for VALUES ('107325724009413713612', '1073257240094137136122', 'ChIJu3iXyGr2wokR29wWAqLfn8Q', '2020-09-21 18:59:19') ;
INSERT INTO u_writes_for VALUES ('111130985700064660030', '1111309857000646600308', 'ChIJu3iXyGr2wokR29wWAqLfn8Q', '2020-10-18 03:49:40') ;
INSERT INTO u_writes_for VALUES ('111676253614334282381', '1116762536143342823813', 'ChIJu3iXyGr2wokR29wWAqLfn8Q', '2020-09-28 22:16:09') ;
INSERT INTO u_writes_for VALUES ('116127320157848663247', '1161273201578486632477', 'ChIJu3iXyGr2wokR29wWAqLfn8Q', '2020-08-20 03:50:42') ;
INSERT INTO u_writes_for VALUES ('100611160727382240523', '1006111607273822405232', 'ChIJu3iXyGr2wokR29wWAqLfn8Q', '2020-07-21 13:06:51') ;
INSERT INTO u_writes_for VALUES ('113940049200647362048', '1139400492006473620487', 'ChIJUZGzuBL3wokRslOX3yc9LCk', '2020-10-17 01:46:51') ;
INSERT INTO u_writes_for VALUES ('113350429450063061606', '1133504294500630616062', 'ChIJUZGzuBL3wokRslOX3yc9LCk', '2020-10-17 22:39:44') ;
INSERT INTO u_writes_for VALUES ('118202851192349639887', '1182028511923496398876', 'ChIJUZGzuBL3wokRslOX3yc9LCk', '2020-09-21 20:17:05') ;
INSERT INTO u_writes_for VALUES ('108045925603217899608', '1080459256032178996081', 'ChIJUZGzuBL3wokRslOX3yc9LCk', '2020-10-06 18:09:30') ;
INSERT INTO u_writes_for VALUES ('111594382664159330327', '1115943826641593303277', 'ChIJUZGzuBL3wokRslOX3yc9LCk', '2020-10-18 04:55:43') ;
INSERT INTO u_writes_for VALUES ('100956114396258860220', '1009561143962588602206', 'ChIJSQm0BGr2wokRMlxPSzeSl2g', '2020-09-20 00:34:52') ;
INSERT INTO u_writes_for VALUES ('114415284558194219537', '1144152845581942195371', 'ChIJSQm0BGr2wokRMlxPSzeSl2g', '2020-09-06 00:40:51') ;
INSERT INTO u_writes_for VALUES ('100159621215660693526', '1001596212156606935262', 'ChIJSQm0BGr2wokRMlxPSzeSl2g', '2020-09-29 19:08:46') ;
INSERT INTO u_writes_for VALUES ('108720298012115524138', '1087202980121155241385', 'ChIJSQm0BGr2wokRMlxPSzeSl2g', '2020-09-23 20:48:40') ;
INSERT INTO u_writes_for VALUES ('102193602778064004299', '1021936027780640042993', 'ChIJSQm0BGr2wokRMlxPSzeSl2g', '2020-10-08 20:53:03') ;
INSERT INTO u_writes_for VALUES ('110316710542055824455', '1103167105420558244553', 'ChIJD86ws4JYwokRz3jXJAWgGdM', '2020-10-20 20:51:54') ;
INSERT INTO u_writes_for VALUES ('100724510814613837975', '1007245108146138379753', 'ChIJD86ws4JYwokRz3jXJAWgGdM', '2020-08-25 00:20:06') ;
INSERT INTO u_writes_for VALUES ('102854276933533792136', '1028542769335337921363', 'ChIJD86ws4JYwokRz3jXJAWgGdM', '2020-10-06 05:04:08') ;
INSERT INTO u_writes_for VALUES ('110199820531114654275', '1101998205311146542752', 'ChIJD86ws4JYwokRz3jXJAWgGdM', '2020-08-30 17:14:07') ;
INSERT INTO u_writes_for VALUES ('110454645133071074535', '1104546451330710745351', 'ChIJD86ws4JYwokRz3jXJAWgGdM', '2020-07-22 17:14:13') ;
INSERT INTO u_writes_for VALUES ('109543813764775009408', '1095438137647750094089', 'ChIJjYXMA6r3wokRqsATKxPO-Vg', '2020-09-05 22:35:56') ;
INSERT INTO u_writes_for VALUES ('111088452330769280255', '1110884523307692802558', 'ChIJjYXMA6r3wokRqsATKxPO-Vg', '2020-08-13 18:35:00') ;
INSERT INTO u_writes_for VALUES ('114121998871107088426', '1141219988711070884264', 'ChIJjYXMA6r3wokRqsATKxPO-Vg', '2020-10-07 23:32:07') ;
INSERT INTO u_writes_for VALUES ('118193037536942680649', '1181930375369426806494', 'ChIJjYXMA6r3wokRqsATKxPO-Vg', '2020-09-22 22:57:54') ;
INSERT INTO u_writes_for VALUES ('117186645685877459141', '1171866456858774591416', 'ChIJjYXMA6r3wokRqsATKxPO-Vg', '2020-06-29 13:54:35') ;
INSERT INTO u_writes_for VALUES ('109999658764328854449', '1099996587643288544491', 'ChIJVVUpOG_2wokRFUtuo_v80Ts', '2020-08-19 00:56:32') ;
INSERT INTO u_writes_for VALUES ('102436150384577256655', '1024361503845772566554', 'ChIJVVUpOG_2wokRFUtuo_v80Ts', '2020-09-17 04:46:01') ;
INSERT INTO u_writes_for VALUES ('112693605115832152742', '1126936051158321527420', 'ChIJVVUpOG_2wokRFUtuo_v80Ts', '2020-10-18 13:44:58') ;
INSERT INTO u_writes_for VALUES ('106125395470436114755', '1061253954704361147553', 'ChIJVVUpOG_2wokRFUtuo_v80Ts', '2020-09-24 06:15:35') ;
INSERT INTO u_writes_for VALUES ('110265951502490014637', '1102659515024900146372', 'ChIJVVUpOG_2wokRFUtuo_v80Ts', '2020-10-22 20:56:10') ;
INSERT INTO u_writes_for VALUES ('103998810428008299056', '1039988104280082990560', 'ChIJFalicmT2wokR02HksZFX9VA', '2020-08-31 23:57:37') ;
INSERT INTO u_writes_for VALUES ('106307021902158047692', '1063070219021580476928', 'ChIJFalicmT2wokR02HksZFX9VA', '2020-08-26 16:53:01') ;
INSERT INTO u_writes_for VALUES ('114088517802532558248', '1140885178025325582487', 'ChIJFalicmT2wokR02HksZFX9VA', '2020-10-11 18:03:33') ;
INSERT INTO u_writes_for VALUES ('110206262457831331654', '1102062624578313316541', 'ChIJFalicmT2wokR02HksZFX9VA', '2020-07-12 02:21:00') ;
INSERT INTO u_writes_for VALUES ('102742584119419523240', '1027425841194195232402', 'ChIJFalicmT2wokR02HksZFX9VA', '2020-08-16 22:30:28') ;
INSERT INTO u_writes_for VALUES ('114664528736679673282', '1146645287366796732825', 'ChIJYbl1lBL2wokR3Pw0NejRRvM', '2020-08-13 18:27:04') ;
INSERT INTO u_writes_for VALUES ('106029287098610052983', '1060292870986100529834', 'ChIJYbl1lBL2wokR3Pw0NejRRvM', '2020-07-19 00:49:55') ;
INSERT INTO u_writes_for VALUES ('116389105619042923873', '1163891056190429238734', 'ChIJYbl1lBL2wokR3Pw0NejRRvM', '2020-08-12 23:36:12') ;
INSERT INTO u_writes_for VALUES ('102740711352241436671', '1027407113522414366717', 'ChIJYbl1lBL2wokR3Pw0NejRRvM', '2020-10-10 09:43:17') ;
INSERT INTO u_writes_for VALUES ('104052476821685482928', '1040524768216854829288', 'ChIJYbl1lBL2wokR3Pw0NejRRvM', '2020-07-03 18:17:46') ;
INSERT INTO u_writes_for VALUES ('104419240281718418611', '1044192402817184186119', 'ChIJg0Bl54JYwokR8k8qF8pW-eI', '2020-09-16 16:53:38') ;
INSERT INTO u_writes_for VALUES ('101010528801498758036', '1010105288014987580364', 'ChIJg0Bl54JYwokR8k8qF8pW-eI', '2020-08-13 22:40:30') ;
INSERT INTO u_writes_for VALUES ('107764575974011986379', '1077645759740119863798', 'ChIJg0Bl54JYwokR8k8qF8pW-eI', '2020-08-24 01:52:57') ;
INSERT INTO u_writes_for VALUES ('107253600084726377695', '1072536000847263776951', 'ChIJg0Bl54JYwokR8k8qF8pW-eI', '2020-09-08 16:57:33') ;
INSERT INTO u_writes_for VALUES ('101821810199953231580', '1018218101999532315802', 'ChIJg0Bl54JYwokR8k8qF8pW-eI', '2020-10-17 02:01:15') ;
INSERT INTO u_writes_for VALUES ('111149072084595016553', '1111490720845950165534', 'ChIJU-oKKh1ZwokR9HVy197A8mM', '2020-10-07 07:54:54') ;
INSERT INTO u_writes_for VALUES ('110011526850091752364', '1100115268500917523641', 'ChIJU-oKKh1ZwokR9HVy197A8mM', '2020-09-04 23:58:09') ;
INSERT INTO u_writes_for VALUES ('109480198304708049617', '1094801983047080496172', 'ChIJU-oKKh1ZwokR9HVy197A8mM', '2020-09-20 14:04:26') ;
INSERT INTO u_writes_for VALUES ('100618685858988957851', '1006186858589889578511', 'ChIJU-oKKh1ZwokR9HVy197A8mM', '2020-09-26 12:06:51') ;
INSERT INTO u_writes_for VALUES ('102750115248974010937', '1027501152489740109375', 'ChIJU-oKKh1ZwokR9HVy197A8mM', '2020-09-07 03:10:01') ;
INSERT INTO u_writes_for VALUES ('105307442919984710547', '1053074429199847105477', 'ChIJEY8Sdlf2wokRCnHpToa-BE0', '2020-09-05 00:10:59') ;
INSERT INTO u_writes_for VALUES ('112444929142374414636', '1124449291423744146360', 'ChIJEY8Sdlf2wokRCnHpToa-BE0', '2020-09-28 01:56:40') ;
INSERT INTO u_writes_for VALUES ('110764565666615149671', '1107645656666151496717', 'ChIJEY8Sdlf2wokRCnHpToa-BE0', '2020-09-15 00:22:48') ;
INSERT INTO u_writes_for VALUES ('113332724134607604527', '1133327241346076045276', 'ChIJEY8Sdlf2wokRCnHpToa-BE0', '2020-10-19 18:37:21') ;
INSERT INTO u_writes_for VALUES ('111992519766953265862', '1119925197669532658626', 'ChIJEY8Sdlf2wokRCnHpToa-BE0', '2020-09-19 02:58:03') ;
INSERT INTO u_writes_for VALUES ('111449886282449253422', '1114498862824492534229', 'ChIJfebAhnn3wokRvTbzHU2Scwg', '2020-10-25 03:06:04') ;
INSERT INTO u_writes_for VALUES ('108277546340866889836', '1082775463408668898365', 'ChIJfebAhnn3wokRvTbzHU2Scwg', '2020-10-25 22:01:37') ;
INSERT INTO u_writes_for VALUES ('107007678041786757393', '1070076780417867573933', 'ChIJfebAhnn3wokRvTbzHU2Scwg', '2020-09-03 20:05:47') ;
INSERT INTO u_writes_for VALUES ('113448693822536592573', '1134486938225365925738', 'ChIJfebAhnn3wokRvTbzHU2Scwg', '2020-09-18 03:53:52') ;
INSERT INTO u_writes_for VALUES ('115772837933739773086', '1157728379337397730865', 'ChIJfebAhnn3wokRvTbzHU2Scwg', '2020-09-26 18:16:41') ;
INSERT INTO u_writes_for VALUES ('105439543760201948011', '1054395437602019480115', 'ChIJgTrKAYZYwokRrLF7JiGwdNM', '2020-10-26 01:50:57') ;
INSERT INTO u_writes_for VALUES ('109515963266625361186', '1095159632666253611866', 'ChIJgTrKAYZYwokRrLF7JiGwdNM', '2020-05-13 22:10:12') ;
INSERT INTO u_writes_for VALUES ('112083543328981387752', '1120835433289813877526', 'ChIJgTrKAYZYwokRrLF7JiGwdNM', '2020-08-06 21:04:43') ;
INSERT INTO u_writes_for VALUES ('100156181118771098213', '1001561811187710982139', 'ChIJgTrKAYZYwokRrLF7JiGwdNM', '2020-09-09 17:46:46') ;
INSERT INTO u_writes_for VALUES ('112438880541574433185', '1124388805415744331855', 'ChIJgTrKAYZYwokRrLF7JiGwdNM', '2020-06-28 11:25:38') ;
INSERT INTO u_writes_for VALUES ('112136239492167708947', '1121362394921677089470', 'ChIJ1S4Bt45YwokRrLS1-axV2_Q', '2020-06-13 13:53:21') ;
INSERT INTO u_writes_for VALUES ('113103590660334914032', '1131035906603349140327', 'ChIJ1S4Bt45YwokRrLS1-axV2_Q', '2020-08-06 16:53:18') ;
INSERT INTO u_writes_for VALUES ('111745099843183653081', '1117450998431836530810', 'ChIJ1S4Bt45YwokRrLS1-axV2_Q', '2020-07-08 14:17:45') ;
INSERT INTO u_writes_for VALUES ('106712581717403918653', '1067125817174039186534', 'ChIJ1S4Bt45YwokRrLS1-axV2_Q', '2020-07-10 00:58:27') ;
INSERT INTO u_writes_for VALUES ('107271597906648016903', '1072715979066480169034', 'ChIJ1S4Bt45YwokRrLS1-axV2_Q', '2020-08-07 13:38:49') ;
INSERT INTO u_writes_for VALUES ('106345273355765683869', '1063452733557656838699', 'ChIJZ5fe_Uv2wokRUEQShWZJFHI', '2020-09-14 01:47:10') ;
INSERT INTO u_writes_for VALUES ('104411464802762951071', '1044114648027629510710', 'ChIJZ5fe_Uv2wokRUEQShWZJFHI', '2020-09-17 19:15:11') ;
INSERT INTO u_writes_for VALUES ('118158096446533494905', '1181580964465334949059', 'ChIJZ5fe_Uv2wokRUEQShWZJFHI', '2020-08-27 15:11:00') ;
INSERT INTO u_writes_for VALUES ('114011783930477055031', '1140117839304770550316', 'ChIJZ5fe_Uv2wokRUEQShWZJFHI', '2020-08-09 03:56:04') ;
INSERT INTO u_writes_for VALUES ('106058663502196946846', '1060586635021969468468', 'ChIJZ5fe_Uv2wokRUEQShWZJFHI', '2020-09-03 00:56:32') ;
INSERT INTO u_writes_for VALUES ('102962970014590628062', '1029629700145906280628', 'ChIJF41lDSb2wokRoHfKgOBOG0s', '2020-09-23 16:42:56') ;
INSERT INTO u_writes_for VALUES ('117263489108230980387', '1172634891082309803877', 'ChIJF41lDSb2wokRoHfKgOBOG0s', '2020-09-30 20:57:54') ;
INSERT INTO u_writes_for VALUES ('113017204267740853242', '1130172042677408532425', 'ChIJF41lDSb2wokRoHfKgOBOG0s', '2020-06-10 19:17:24') ;
INSERT INTO u_writes_for VALUES ('113067454221934479216', '1130674542219344792161', 'ChIJF41lDSb2wokRoHfKgOBOG0s', '2020-06-04 13:58:04') ;
INSERT INTO u_writes_for VALUES ('102209301053846990954', '1022093010538469909542', 'ChIJF41lDSb2wokRoHfKgOBOG0s', '2020-08-08 17:40:46') ;
INSERT INTO u_writes_for VALUES ('107924670862064481707', '1079246708620644817072', 'ChIJse3BjyT2wokRF2Tkb2uT5YI', '2020-09-14 22:22:18') ;
INSERT INTO u_writes_for VALUES ('109982455105251370364', '1099824551052513703644', 'ChIJse3BjyT2wokRF2Tkb2uT5YI', '2019-08-31 00:03:12') ;
INSERT INTO u_writes_for VALUES ('109955778804787178042', '1099557788047871780429', 'ChIJse3BjyT2wokRF2Tkb2uT5YI', '2019-10-18 02:02:14') ;
INSERT INTO u_writes_for VALUES ('107976137275301941668', '1079761372753019416689', 'ChIJse3BjyT2wokRF2Tkb2uT5YI', '2019-05-05 17:12:01') ;
INSERT INTO u_writes_for VALUES ('102850787804371065136', '1028507878043710651361', 'ChIJse3BjyT2wokRF2Tkb2uT5YI', '2019-06-01 19:09:35') ;
INSERT INTO u_writes_for VALUES ('114830466870540738561', '1148304668705407385611', 'ChIJazunFWT2wokRqVgH0HhWeGQ', '2020-10-10 23:56:25') ;
INSERT INTO u_writes_for VALUES ('117690905211480993061', '1176909052114809930614', 'ChIJazunFWT2wokRqVgH0HhWeGQ', '2020-09-29 22:53:25') ;
INSERT INTO u_writes_for VALUES ('113371129037502952598', '1133711290375029525985', 'ChIJazunFWT2wokRqVgH0HhWeGQ', '2020-09-17 03:28:24') ;
INSERT INTO u_writes_for VALUES ('114076142112755361766', '1140761421127553617661', 'ChIJazunFWT2wokRqVgH0HhWeGQ', '2020-09-10 17:41:48') ;
INSERT INTO u_writes_for VALUES ('113080921853556597494', '1130809218535565974944', 'ChIJazunFWT2wokRqVgH0HhWeGQ', '2020-10-10 03:17:35') ;
INSERT INTO u_writes_for VALUES ('117839249973367077635', '1178392499733670776351', 'ChIJyUF6iuxZwokR6gknGZ-DEWA', '2020-06-18 13:12:43') ;
INSERT INTO u_writes_for VALUES ('117922145050259214577', '1179221450502592145772', 'ChIJyUF6iuxZwokR6gknGZ-DEWA', '2020-02-27 23:18:01') ;
INSERT INTO u_writes_for VALUES ('100973682706581216060', '1009736827065812160603', 'ChIJyUF6iuxZwokR6gknGZ-DEWA', '2019-12-25 19:20:07') ;
INSERT INTO u_writes_for VALUES ('112381364770120127494', '1123813647701201274947', 'ChIJyUF6iuxZwokR6gknGZ-DEWA', '2020-02-27 23:18:58') ;
INSERT INTO u_writes_for VALUES ('102853473845727012860', '1028534738457270128604', 'ChIJyUF6iuxZwokR6gknGZ-DEWA', '2019-12-29 00:45:08') ;
INSERT INTO u_writes_for VALUES ('118251924874916025692', '1182519248749160256927', 'ChIJiZfMBoZYwokRhMJwRoMM2xQ', '2020-10-13 01:07:30') ;
INSERT INTO u_writes_for VALUES ('101774981876160023391', '1017749818761600233912', 'ChIJiZfMBoZYwokRhMJwRoMM2xQ', '2020-10-16 21:03:55') ;
INSERT INTO u_writes_for VALUES ('115748533447549087185', '1157485334475490871853', 'ChIJiZfMBoZYwokRhMJwRoMM2xQ', '2020-09-18 16:52:39') ;
INSERT INTO u_writes_for VALUES ('108026719134516212068', '1080267191345162120686', 'ChIJiZfMBoZYwokRhMJwRoMM2xQ', '2020-08-24 15:57:03') ;
INSERT INTO u_writes_for VALUES ('114465253811955990231', '1144652538119559902313', 'ChIJiZfMBoZYwokRhMJwRoMM2xQ', '2020-09-03 21:19:38') ;
INSERT INTO u_writes_for VALUES ('107216427992989951130', '1072164279929899511300', 'ChIJYwW6R6L3wokRQ9H1nf7nn4g', '2020-10-24 22:33:37') ;
INSERT INTO u_writes_for VALUES ('105169776266909404704', '1051697762669094047040', 'ChIJYwW6R6L3wokRQ9H1nf7nn4g', '2020-07-31 20:35:13') ;
INSERT INTO u_writes_for VALUES ('109917425013962641412', '1099174250139626414122', 'ChIJYwW6R6L3wokRQ9H1nf7nn4g', '2020-01-15 21:53:01') ;
INSERT INTO u_writes_for VALUES ('101589843000577759430', '1015898430005777594301', 'ChIJYwW6R6L3wokRQ9H1nf7nn4g', '2020-08-12 17:24:15') ;
INSERT INTO u_writes_for VALUES ('102284012811602120301', '1022840128116021203011', 'ChIJYwW6R6L3wokRQ9H1nf7nn4g', '2020-01-20 23:41:35') ;
INSERT INTO u_writes_for VALUES ('102569297238269800055', '1025692972382698000550', 'ChIJKRFZOIRYwokR_uw6rPg9wgI', '2020-09-23 14:15:05') ;
INSERT INTO u_writes_for VALUES ('109388601355254709852', '1093886013552547098527', 'ChIJKRFZOIRYwokR_uw6rPg9wgI', '2020-10-12 21:22:42') ;
INSERT INTO u_writes_for VALUES ('101425525692146625215', '1014255256921466252154', 'ChIJKRFZOIRYwokR_uw6rPg9wgI', '2020-08-17 14:07:32') ;
INSERT INTO u_writes_for VALUES ('109606921277513838780', '1096069212775138387808', 'ChIJKRFZOIRYwokR_uw6rPg9wgI', '2020-08-09 00:36:12') ;
INSERT INTO u_writes_for VALUES ('109764135434148803955', '1097641354341488039551', 'ChIJKRFZOIRYwokR_uw6rPg9wgI', '2020-06-16 04:47:48') ;
INSERT INTO u_writes_for VALUES ('110811743141543877775', '1108117431415438777757', 'ChIJH08CYyP2wokRtebMqpU5a-4', '2020-08-15 23:15:29') ;
INSERT INTO u_writes_for VALUES ('105354527338012902781', '1053545273380129027818', 'ChIJH08CYyP2wokRtebMqpU5a-4', '2020-08-13 23:04:13') ;
INSERT INTO u_writes_for VALUES ('105278782987096804550', '1052787829870968045502', 'ChIJH08CYyP2wokRtebMqpU5a-4', '2020-08-31 22:49:13') ;
INSERT INTO u_writes_for VALUES ('117979675532285143240', '1179796755322851432406', 'ChIJH08CYyP2wokRtebMqpU5a-4', '2020-07-23 01:51:36') ;
INSERT INTO u_writes_for VALUES ('113461882295729150904', '1134618822957291509042', 'ChIJH08CYyP2wokRtebMqpU5a-4', '2019-10-05 23:39:15') ;
INSERT INTO u_writes_for VALUES ('111202057002510526189', '1112020570025105261891', 'ChIJY3CwCIT3wokReNnkV6ZC0rM', '2020-09-29 21:44:45') ;
INSERT INTO u_writes_for VALUES ('103911707463118984898', '1039117074631189848980', 'ChIJY3CwCIT3wokReNnkV6ZC0rM', '2020-07-17 21:23:05') ;
INSERT INTO u_writes_for VALUES ('107525441089872787690', '1075254410898727876902', 'ChIJY3CwCIT3wokReNnkV6ZC0rM', '2019-08-29 00:31:19') ;
INSERT INTO u_writes_for VALUES ('107684182667352362973', '1076841826673523629734', 'ChIJY3CwCIT3wokReNnkV6ZC0rM', '2020-09-05 00:33:38') ;
INSERT INTO u_writes_for VALUES ('100839463194343006009', '1008394631943430060097', 'ChIJY3CwCIT3wokReNnkV6ZC0rM', '2019-08-26 20:59:14') ;
INSERT INTO u_writes_for VALUES ('105278782987096804550', '1052787829870968045509', 'ChIJf3PXqGP3wokR-ev9ov5e91Y', '2020-08-31 22:48:20') ;
INSERT INTO u_writes_for VALUES ('108772334324319102953', '1087723343243191029538', 'ChIJf3PXqGP3wokR-ev9ov5e91Y', '2020-08-19 17:11:02') ;
INSERT INTO u_writes_for VALUES ('103932856970351025011', '1039328569703510250112', 'ChIJf3PXqGP3wokR-ev9ov5e91Y', '2020-08-24 20:00:13') ;
INSERT INTO u_writes_for VALUES ('105495575850055491115', '1054955758500554911152', 'ChIJf3PXqGP3wokR-ev9ov5e91Y', '2020-08-18 12:37:53') ;
INSERT INTO u_writes_for VALUES ('103050196503797432835', '1030501965037974328359', 'ChIJf3PXqGP3wokR-ev9ov5e91Y', '2020-02-08 03:15:44') ;
INSERT INTO u_writes_for VALUES ('112604925480550662990', '1126049254805506629907', 'ChIJb5N7zCf2wokRE6kxhGJaJ0Y', '2020-09-03 18:08:18') ;
INSERT INTO u_writes_for VALUES ('107924670862064481707', '1079246708620644817071', 'ChIJb5N7zCf2wokRE6kxhGJaJ0Y', '2020-09-14 22:21:32') ;
INSERT INTO u_writes_for VALUES ('116274128165611415439', '1162741281656114154399', 'ChIJb5N7zCf2wokRE6kxhGJaJ0Y', '2020-07-17 04:41:35') ;
INSERT INTO u_writes_for VALUES ('110051252957510644341', '1100512529575106443417', 'ChIJb5N7zCf2wokRE6kxhGJaJ0Y', '2020-07-22 20:28:42') ;
INSERT INTO u_writes_for VALUES ('114860343642466822871', '1148603436424668228710', 'ChIJb5N7zCf2wokRE6kxhGJaJ0Y', '2020-07-29 18:35:59') ;
INSERT INTO u_writes_for VALUES ('108889557526258834822', '1088895575262588348221', 'ChIJe4ujVyP2wokRC3a6Xbt-zSY', '2020-10-23 11:42:47') ;
INSERT INTO u_writes_for VALUES ('108038797500432854280', '1080387975004328542804', 'ChIJe4ujVyP2wokRC3a6Xbt-zSY', '2020-09-11 00:07:43') ;
INSERT INTO u_writes_for VALUES ('112886024166729435828', '1128860241667294358285', 'ChIJe4ujVyP2wokRC3a6Xbt-zSY', '2020-06-11 21:52:51') ;
INSERT INTO u_writes_for VALUES ('109441190083299895203', '1094411900832998952031', 'ChIJe4ujVyP2wokRC3a6Xbt-zSY', '2020-05-31 23:52:28') ;
INSERT INTO u_writes_for VALUES ('107783602376060806224', '1077836023760608062245', 'ChIJe4ujVyP2wokRC3a6Xbt-zSY', '2020-05-15 00:50:18') ;
INSERT INTO u_writes_for VALUES ('108267106784655024803', '1082671067846550248034', 'ChIJ5fDdEoVYwokRYPEr9pcE0WQ', '2020-09-05 00:08:12') ;
INSERT INTO u_writes_for VALUES ('102303759704012607614', '1023037597040126076145', 'ChIJ5fDdEoVYwokRYPEr9pcE0WQ', '2020-09-14 17:10:00') ;
INSERT INTO u_writes_for VALUES ('114825386195730121156', '1148253861957301211568', 'ChIJ5fDdEoVYwokRYPEr9pcE0WQ', '2020-09-17 20:06:22') ;
INSERT INTO u_writes_for VALUES ('109896653290294744674', '1098966532902947446745', 'ChIJ5fDdEoVYwokRYPEr9pcE0WQ', '2020-10-10 15:39:07') ;
INSERT INTO u_writes_for VALUES ('100718122715096442471', '1007181227150964424715', 'ChIJ5fDdEoVYwokRYPEr9pcE0WQ', '2020-03-15 00:09:19') ;
INSERT INTO u_writes_for VALUES ('104512676786621217125', '1045126767866212171255', 'ChIJc71Q34VYwokRARHW9df6Zgs', '2020-08-29 19:14:30') ;
INSERT INTO u_writes_for VALUES ('111649775342102021103', '1116497753421020211032', 'ChIJc71Q34VYwokRARHW9df6Zgs', '2020-09-20 18:59:36') ;

In [66]:
def insert_provides_menu(data):
    base_insert = 'INSERT INTO Provides_Menu VALUES'
    for place in data:
        value = (place['mid'],place['rid'])
        print(base_insert,value,';')

In [160]:
insert_provides_menu(result)

INSERT INTO Provides_Menu VALUES (1, 'ChIJu3iXyGr2wokR29wWAqLfn8Q') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJUZGzuBL3wokRslOX3yc9LCk') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJSQm0BGr2wokRMlxPSzeSl2g') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJD86ws4JYwokRz3jXJAWgGdM') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJjYXMA6r3wokRqsATKxPO-Vg') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJVVUpOG_2wokRFUtuo_v80Ts') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJFalicmT2wokR02HksZFX9VA') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJYbl1lBL2wokR3Pw0NejRRvM') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJg0Bl54JYwokR8k8qF8pW-eI') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJU-oKKh1ZwokR9HVy197A8mM') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJEY8Sdlf2wokRCnHpToa-BE0') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJfebAhnn3wokRvTbzHU2Scwg') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJgTrKAYZYwokRrLF7JiGwdNM') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJ1S4Bt45YwokRrLS1-axV2_Q') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJZ5fe_Uv2wokRUEQShWZJFHI') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJF41lDSb2wokRoHfKgOBOG0s') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJse3BjyT2wokRF2Tkb2uT5YI') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJazunFWT2wokRqVgH0HhWeGQ') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJyUF6iuxZwokR6gknGZ-DEWA') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJiZfMBoZYwokRhMJwRoMM2xQ') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJYwW6R6L3wokRQ9H1nf7nn4g') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJKRFZOIRYwokR_uw6rPg9wgI') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJH08CYyP2wokRtebMqpU5a-4') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJY3CwCIT3wokReNnkV6ZC0rM') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJf3PXqGP3wokR-ev9ov5e91Y') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJb5N7zCf2wokRE6kxhGJaJ0Y') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJe4ujVyP2wokRC3a6Xbt-zSY') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJ5fDdEoVYwokRYPEr9pcE0WQ') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJc71Q34VYwokRARHW9df6Zgs') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJ5SpD7otYwokR1F-cMlCK0js') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJbwTxTAH2wokRUwXPOya3MoA') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJ7cS0D4NYwokRSy7Zb5tUlOQ') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJXxNP-mL2wokRStZTuUKsOao') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJRf0k0Y5YwokR7hh2IBTl3LY') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJQyEs-WFYwokRxcMQc54r9W0') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJS9-cg4VYwokRL7S120Rkbjo') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJ5XS2IGr2wokRdTbYbSSBcwU') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJqdmU34pYwokR8IaCbL9rb4M') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJt3rLE3P2wokRApaaB2gVTOM') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJizsMQxX2wokRSD5_pzmhaYg') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJJaCHP1f2wokRKhGwZwoJlvg') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJcRgR0W72wokRfT2l0W4NVIs') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJxUfPdp33wokRZJ9SiUhf0j0') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJu25Iu7tYwokRS9eaSuLSwxE') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJM3HWz3z2wokR0ktkaSf5gSw') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJT4-zRP9ZwokRph9ydWRuqTU') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJTf4rvaP3wokRiemnWh1PHI0') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJT4-Zcwv2wokRH7wV0JwDc4I') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJXcOZ2VD2wokROENedT4harY') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJj35dz8xZwokR8d8a6Fnx3vQ') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJgbZ3_0r2wokRRpVKcTVcVD0') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJ9w07X5RYwokR5eolQAZ49C4') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJZQxmmktZwokRN5ADkQ93RnY') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJg7-TU1D2wokRQUJkH_H3hnw') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJ82yIyIJYwokRmr2Jrd_XykA') ;
INSERT INTO Provides_Menu VALUES (1, 'ChIJOcsGVkr2wokRLmfHmhItPp0') ;

In [22]:
def insert_satisfies(data):
    base_insert = 'INSERT INTO Satisfies VALUES'
    for place in data:
        for name in place['dname']:
            value = (name, place['rid'],place['mid'])
            print(base_insert,value,';')

In [162]:
insert_satisfies(result)

INSERT INTO Satisfies VALUES ('Vegan', 'ChIJu3iXyGr2wokR29wWAqLfn8Q', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJu3iXyGr2wokR29wWAqLfn8Q', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJUZGzuBL3wokRslOX3yc9LCk', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJUZGzuBL3wokRslOX3yc9LCk', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJSQm0BGr2wokRMlxPSzeSl2g', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJSQm0BGr2wokRMlxPSzeSl2g', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJD86ws4JYwokRz3jXJAWgGdM', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJD86ws4JYwokRz3jXJAWgGdM', 1) ;
INSERT INTO Satisfies VALUES ('Halal', 'ChIJD86ws4JYwokRz3jXJAWgGdM', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJjYXMA6r3wokRqsATKxPO-Vg', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJjYXMA6r3wokRqsATKxPO-Vg', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJVVUpOG_2wokRFUtuo_v80Ts', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJVVUpOG_2wokRFUtuo_v80Ts', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJFalicmT2wokR02HksZFX9VA', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJFalicmT2wokR02HksZFX9VA', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJYbl1lBL2wokR3Pw0NejRRvM', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJYbl1lBL2wokR3Pw0NejRRvM', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJg0Bl54JYwokR8k8qF8pW-eI', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJg0Bl54JYwokR8k8qF8pW-eI', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJU-oKKh1ZwokR9HVy197A8mM', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJU-oKKh1ZwokR9HVy197A8mM', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJEY8Sdlf2wokRCnHpToa-BE0', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJEY8Sdlf2wokRCnHpToa-BE0', 1) ;
INSERT INTO Satisfies VALUES ('Halal', 'ChIJEY8Sdlf2wokRCnHpToa-BE0', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJfebAhnn3wokRvTbzHU2Scwg', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJfebAhnn3wokRvTbzHU2Scwg', 1) ;
INSERT INTO Satisfies VALUES ('Halal', 'ChIJfebAhnn3wokRvTbzHU2Scwg', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJgTrKAYZYwokRrLF7JiGwdNM', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJgTrKAYZYwokRrLF7JiGwdNM', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJ1S4Bt45YwokRrLS1-axV2_Q', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJ1S4Bt45YwokRrLS1-axV2_Q', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJZ5fe_Uv2wokRUEQShWZJFHI', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJZ5fe_Uv2wokRUEQShWZJFHI', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJF41lDSb2wokRoHfKgOBOG0s', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJF41lDSb2wokRoHfKgOBOG0s', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJse3BjyT2wokRF2Tkb2uT5YI', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJse3BjyT2wokRF2Tkb2uT5YI', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJazunFWT2wokRqVgH0HhWeGQ', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJazunFWT2wokRqVgH0HhWeGQ', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJyUF6iuxZwokR6gknGZ-DEWA', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJyUF6iuxZwokR6gknGZ-DEWA', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJiZfMBoZYwokRhMJwRoMM2xQ', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJiZfMBoZYwokRhMJwRoMM2xQ', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJYwW6R6L3wokRQ9H1nf7nn4g', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJYwW6R6L3wokRQ9H1nf7nn4g', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJKRFZOIRYwokR_uw6rPg9wgI', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJKRFZOIRYwokR_uw6rPg9wgI', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJH08CYyP2wokRtebMqpU5a-4', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJH08CYyP2wokRtebMqpU5a-4', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJY3CwCIT3wokReNnkV6ZC0rM', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJY3CwCIT3wokReNnkV6ZC0rM', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJf3PXqGP3wokR-ev9ov5e91Y', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJf3PXqGP3wokR-ev9ov5e91Y', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJb5N7zCf2wokRE6kxhGJaJ0Y', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJb5N7zCf2wokRE6kxhGJaJ0Y', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJe4ujVyP2wokRC3a6Xbt-zSY', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJe4ujVyP2wokRC3a6Xbt-zSY', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJ5fDdEoVYwokRYPEr9pcE0WQ', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJ5fDdEoVYwokRYPEr9pcE0WQ', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJc71Q34VYwokRARHW9df6Zgs', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJc71Q34VYwokRARHW9df6Zgs', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJ5SpD7otYwokR1F-cMlCK0js', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJ5SpD7otYwokR1F-cMlCK0js', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJbwTxTAH2wokRUwXPOya3MoA', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJbwTxTAH2wokRUwXPOya3MoA', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJ7cS0D4NYwokRSy7Zb5tUlOQ', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJ7cS0D4NYwokRSy7Zb5tUlOQ', 1) ;
INSERT INTO Satisfies VALUES ('Halal', 'ChIJ7cS0D4NYwokRSy7Zb5tUlOQ', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJXxNP-mL2wokRStZTuUKsOao', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJXxNP-mL2wokRStZTuUKsOao', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJRf0k0Y5YwokR7hh2IBTl3LY', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJRf0k0Y5YwokR7hh2IBTl3LY', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJQyEs-WFYwokRxcMQc54r9W0', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJQyEs-WFYwokRxcMQc54r9W0', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJS9-cg4VYwokRL7S120Rkbjo', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJS9-cg4VYwokRL7S120Rkbjo', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJ5XS2IGr2wokRdTbYbSSBcwU', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJ5XS2IGr2wokRdTbYbSSBcwU', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJqdmU34pYwokR8IaCbL9rb4M', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJqdmU34pYwokR8IaCbL9rb4M', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJt3rLE3P2wokRApaaB2gVTOM', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJt3rLE3P2wokRApaaB2gVTOM', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJizsMQxX2wokRSD5_pzmhaYg', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJizsMQxX2wokRSD5_pzmhaYg', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJJaCHP1f2wokRKhGwZwoJlvg', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJJaCHP1f2wokRKhGwZwoJlvg', 1) ;
INSERT INTO Satisfies VALUES ('Halal', 'ChIJJaCHP1f2wokRKhGwZwoJlvg', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJcRgR0W72wokRfT2l0W4NVIs', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJcRgR0W72wokRfT2l0W4NVIs', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJxUfPdp33wokRZJ9SiUhf0j0', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJxUfPdp33wokRZJ9SiUhf0j0', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJu25Iu7tYwokRS9eaSuLSwxE', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJu25Iu7tYwokRS9eaSuLSwxE', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJM3HWz3z2wokR0ktkaSf5gSw', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJM3HWz3z2wokR0ktkaSf5gSw', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJT4-zRP9ZwokRph9ydWRuqTU', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJT4-zRP9ZwokRph9ydWRuqTU', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJTf4rvaP3wokRiemnWh1PHI0', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJTf4rvaP3wokRiemnWh1PHI0', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJT4-Zcwv2wokRH7wV0JwDc4I', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJT4-Zcwv2wokRH7wV0JwDc4I', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJXcOZ2VD2wokROENedT4harY', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJXcOZ2VD2wokROENedT4harY', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJj35dz8xZwokR8d8a6Fnx3vQ', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJj35dz8xZwokR8d8a6Fnx3vQ', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJgbZ3_0r2wokRRpVKcTVcVD0', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJgbZ3_0r2wokRRpVKcTVcVD0', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJ9w07X5RYwokR5eolQAZ49C4', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJ9w07X5RYwokR5eolQAZ49C4', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJZQxmmktZwokRN5ADkQ93RnY', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJZQxmmktZwokRN5ADkQ93RnY', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJg7-TU1D2wokRQUJkH_H3hnw', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJg7-TU1D2wokRQUJkH_H3hnw', 1) ;
INSERT INTO Satisfies VALUES ('Vegan', 'ChIJ82yIyIJYwokRmr2Jrd_XykA', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJ82yIyIJYwokRmr2Jrd_XykA', 1) ;
INSERT INTO Satisfies VALUES ('Halal', 'ChIJ82yIyIJYwokRmr2Jrd_XykA', 1) ;
INSERT INTO Satisfies VALUES ('Vegetarian', 'ChIJOcsGVkr2wokRLmfHmhItPp0', 1) ;
INSERT INTO Satisfies VALUES ('Gluten Free', 'ChIJOcsGVkr2wokRLmfHmhItPp0', 1) ;